<div class="desktop-view">
<div class="ticket-line ">
    {% for i in (0..20) %}
  <div class="ticket-line-first index-product-{{i}}"></div>
    {% endfor %}
</div>
</div>
<div class="mobile-view">
<div class="ticket-line">
    {% for i in (0..18) %}
  <div class="ticket-line-first index-product-{{i}}"></div>
    {% endfor %}
</div>
</div>