{{ 'barcode.css' | asset_url | stylesheet_tag }}

{% schema %}
{
  "name": "Barcode",
  "settings": [
    {
      "id": "color_scheme",
      "type": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "Barcode"
    }
  ]
}
{% endschema %}

<style>
  .bar {
    height:100px;
    background-color: var(--background_product_card);
  }

  .barcode-container {
    background-color: rgb(var(--color-background));
  }
</style>

<div class="barcode-container color-{{ section.settings.color_scheme }}">
  <div class="barcode">
    <div class="barcode-content">
      {% for i in (1..50) %}
        <div class="bar bar-1"><span class="visually-hidden">|</span></div>
        <div class="bar bar-2"><span class="visually-hidden">|</span></div>
        <div class="bar bar-5"><span class="visually-hidden">|</span></div>
        <div class="bar bar-3"><span class="visually-hidden">|</span></div>
        <div class="bar bar-4"><span class="visually-hidden">|</span></div>
        <div class="bar bar-6"><span class="visually-hidden">|</span></div>
        <div class="bar bar-7"><span class="visually-hidden">|</span></div>
        <div class="bar bar-8"><span class="visually-hidden">|</span></div>
        <div class="bar bar-10"><span class="visually-hidden">|</span></div>
        <div class="bar bar-9"><span class="visually-hidden">|</span></div>
      {% endfor %}
    </div>
  </div>
</div>
