<style>
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .product_outer_container {
    display: flex;
    background-color: #eeeeee;
    width: 309px;
    height: 309px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }
  .product_inner_container {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 261px;
    height: 261px;
    border-radius: 8px;
    position: relative;
    padding: 0;
    gap: 16px;
  }
  .image_bottom_text {
    width: 100%;
    font-size: 24px;
    line-height: 36px;
    height: 72px;
    font-weight: 600;
    text-align: center;
  }
  .add_to_cart {
    background-color: #eeeeee;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0 50% 0 0;
  }

  .add__to__cart__button_container {
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 69px;
    height: 69px;
    border: none;
    border-radius: inherit;
  }
  .add__to__cart__button_container::before {
    content: '';
    position: absolute;
    background-color: transparent;
    left: 100%;
    bottom: 0;
    height: 15px;
    width: 30px;
    border-radius: 0 0 0 50%;
    box-shadow: -18px 0 0 0 #eeeeee;
  }
  .add__to__cart__button_container::after {
    content: '';
    position: absolute;
    background-color: transparent;
    left: 0;
    bottom: 100%;
    height: 30px;
    width: 15px;
    border-radius: 0 0 0 50%;
    box-shadow: 0 18px 0 0 #eeeeee;
  }
</style>

<div style="justify-content: center; gap: 16px;" class="grid grid--4-col-desktop" >
  {% for product in section.settings.collection.products %}
    <div style="" class="product_outer_container">
      <div class="product_inner_container">
        <img
          src="{{ product.featured_media | image_url }}"
          style="width: 96px; height: 96px; border-radius: 2px; object-fit: cover;"
          alt=""
          width="100px"
          height="100px"
          class="product_icon"
        >
        <p class="image_bottom_text">
          Pay on <br>
          Delivery
        </p>
        <span class="add_to_cart">
          <div style="width: 69px; height: 69px;" class="add__to__cart__button_container">
            <span class="add_to_cart_button_icon">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                d="M1.33301 11.9997H22.6663M11.9997 1.33301V22.6663"
                stroke="#454545"
                stroke-linecap="round"
                stroke-linejoin="round" />
              </svg>
            </span>
          </div>
        </span>
      </div>
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Icon With Text",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Icon With Text"
    }
  ]
}
{% endschema %}
