{{ 'shop-the-look.css' | asset_url | stylesheet_tag }}

<style>
  :root {
    --section-color: {{ section.settings.sectionBackground }};
  }
</style>
<div class="shop_the_look__container">

  <div class="shop__the__look__media__container">
    {% if section.settings.image %}
      {{
        section.settings.image | image_url: width: 1800 | image_tag: width: 1800, height: 1600, class: 'media', alt: section.settings.image.alt | escape
      }}
    {% else %}
      <div style="width: 100%; height: 100%;">
        {{ 'collection-1' | placeholder_svg_tag: 'placeholder-svg' }}
      </div>
    {% endif %}
    <div class="shop__the__look__media__bottom__border">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, cumque!</div>
  </div>

  <div class="shop__the__look__text__wrapper ">
    <div class="shop__the__look__text__container">
      <h1 class="shop__the__look__heading">This is the heading
      </h1>
      <p class="shop__the__look__description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam quae repellendus fugiat provident nostrum asperiores eum laboriosam eligendi autem, quis consequuntur ab iure tenetur aut quod numquam doloribus! Sit, distinctio officiis.</p>
      <button class="shop__the__look__button">Add to cart</button>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Shop the Look",
    "settings": [
      {
        "type": "color",
        "id": "sectionBackground",
        "label": "Section Color"
      }, {
        "type": "image_picker",
        "id": "main_image",
        "label": "Main Look Image"
      }, {
        "type": "text",
        "id": "section_heading",
        "label": "Section Heading",
        "default": "Shop the Look"
      }
    ],
    "max_blocks": 5,
    "blocks": [
      {
        "type": "hotspot",
        "name": "Product Hotspot",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          }, {
            "type": "range",
            "id": "position_left",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Horizontal Position",
            "default": 50
          }, {
            "type": "range",
            "id": "position_top",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Vertical Position",
            "default": 50
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Shop the Look"
      }
    ]
  }
{% endschema %}