{{ 'shop-the-look.css' | asset_url | stylesheet_tag }}

<div>
    <div class="lookbook__wrapper  lookbook__wrapper--align-center ">
        <div class="lookbook__main-image">
        <div class="lookbook__image-wrapper">
          <div class="lookbook__desktop-content  lookbook__desktop-content--inside-slideshow ">
            <div class="shape shape--nature">
                <img class="lookbook__image scroll-trigger animate--zoom-out lazyautosizes ls-is-cached lazyloaded" src="https://cdn.shopify.com/s/files/1/0598/2758/5101/files/business-flatlay-in-india_8d86ac6e-7023-4dca-9734-6bb4d2caeda5.jpg?v=1725383927&width=533" width="auto" height="auto">
            </div>
          </div>
        </div>
        </div>
        <div class="lookbook__products  lookbook__products--with-slideshow-30-percent-width   lookbook__products--on-left-side    lookbook__products--with-slideshow ">
            <div class="lookbook__desktop-content  lookbook__desktop-content--inside-slideshow ">
            <div class="product-card__inner shape shape--portrait ">
                <img src="https://cdn.shopify.com/s/files/1/0598/2758/5101/files/308_1006x_a8ac7017-462b-4650-ab09-44e419aadccd.webp?v=1728186784&width=160" width="auto" height="auto">
            </div>
            <div class="stl-desc">
                Experience ultimate comfort with our wheelchair's padded armrests. Designed for support and pressure relief, they feature an ergonomic shape and adjustable height for a personalized fit. Enjoy enhanced stability and comfort during every ride!
            </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
    {
      "name": "Shop The Look",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Transforming Healthcare with Innovative Solutions"
        }
      ],
      "presets": [
        {
          "name": "Shop The Look"
        }
      ]
    }
    {% endschema %}