.blog-slider-section {
    position: relative;
    width: 100%;
    text-align: right;
    padding: 20px 25px;
    height: 600px;
}

.arrow-buttons {
    margin-bottom: 10px;
}

.arrow {
    color: black;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    margin: 0 5px;
    font-size: 32px;
    background: transparent;
    transition: opacity 0.3s ease;
}

.arrow:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.slider-container {
    width: 100%;
    overflow: hidden;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 20px;
}

.card {
    flex: 0 0 calc(25% - 15px);
    border-radius: 5px;
    background-color: #ffffff;
    overflow: hidden;
    text-align: left;
    display: flex;
    flex-direction: column;
    height: 500px;
    position: relative;
}

.card::before,
.card::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 50%;
    z-index: 1;
}

.card::before {
    top: 285px;
    left: -10px;
}

.card::after {
    top: 285px;
    right: -10px;
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.card-content {
    padding: 15px;
    background-color: #f0f0f8;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card-title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
    line-height: 1.4;
}

.read-more-btn {
    background-color: #000;
    width: fit-content;
    min-width: 40%;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    text-decoration: none;
    margin-top: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.read-more-btn svg {
    width: 18px;
    height: 18px;
    transition: transform 0.3s ease;
}

.read-more-btn:hover svg {
    transform: translateX(4px);
}
