.collectionlist_title{
   font-family: var(--font-heading-family);
    font-style: var(--font-heading-style);
    font-size: calc(var(--font-heading-scale) * 28px);
    font-weight:600;
}
.collection_list_title{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
    margin-bottom: 3rem;
    flex-wrap: wrap;
}

.collection-list-card {
  background-color: unset;
}
.collection-list-dashed-line{
  position:absolute;
      display: flex;
    gap: 6px;
    width: 100%;
    height: 4px;
    justify-content: center;
    overflow: hidden;
  bottom:298px;
}
.collection-list-rectangle{
  flex-shrink:0;
    width: 15px;
    height: 100%;
    border-radius: 2px;
       background-color: rgb(var(--color-background));
  z-index:1;
}
.collection-list-card__media{
  width:100%;
}
.collection-list-data{
  min-height:60px;
      background-color: var(--background_product_card);
}
.collection-list-card-wrapper {
  color: inherit;
  position: relative;
  text-decoration: none;
    display: flex;
  border-radius: 8px;
    overflow: hidden;
    flex-direction: column;
}
.collection-list-semicircle1 {
  bottom: 280px;
}
@media screen and (max-width: 749px) {
  .collection-list-semicircle1 {
    bottom: 154px;
}
  .collection-list-dashed-line{
    bottom :171px;
  }
}

.collection_list_inner{
  height:300px;
}
.collection_card-content{
    height:auto;
    min-height:140px;
   background-color: rgb(var(--color-button));
}
.collection_list-card__content{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.collection-list_card__heading{
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 24px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}


.collection-list-card
 {
  text-decoration: none;
  text-align: var(--text-alignment);
}

.collection-list-card:not(.ratio) {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.collection-list-card.collection-list-card--horizontal {
  --text-alignment: left;
  --image-padding: 0rem;
  flex-direction: row;
  align-items: flex-start;
  gap: 1.5rem;
}

.collection-list-card--horizontal.ratio:before {
  padding-bottom: 0;
}

.collection-list-card--card.collection-list-card--horizontal {
  padding: 1.2rem;
}

.collection-list-card--card.collection-list-card--horizontal.collection-list-card--text {
  column-gap: 0;
}

.collection-list-card--card {
  height: 100%;
}

.collection-list-card--card,
.collection-list-card--standard .collection_list_inner {
  position: relative;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  border: var(--border-width) solid
    rgba(var(--color-foreground), var(--border-opacity));
}

.collection-list-card--card:after,
.collection-list-card--standard .collection_list_inner:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: calc(var(--border-width) * 2 + 100%);
  height: calc(var(--border-width) * 2 + 100%);
  top: calc(var(--border-width) * -1);
  left: calc(var(--border-width) * -1);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-horizontal-offset) var(--shadow-vertical-offset)
    var(--shadow-blur-radius) rgba(var(--color-shadow), var(--shadow-opacity));
}

/* Needed for gradient continuity with or without animation, the transform scopes the gradient to its container which happens already when animation are turned on */
.collection-list-card--card.gradient,
.collection_list_inner.gradient {
  transform: perspective(0);
}

/* Needed for gradient continuity with or without animation so that transparent PNG images come up as we would expect */
.collection_list_inner.color-scheme-1 {
  background: transparent;
}

.collection-list-card .collection_list_inner .collection-list-card__media {
  overflow: hidden;
  /* Fix for Safari border bug on hover */
  z-index: 0;
  border-radius: calc(
    var(--border-radius) - var(--border-width) - var(--image-padding)
  );
}

.collection-list-card--card .collection_list_inner .collection-list-card__media {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collection-list-card--standard.collection-list-card--text {
  background-color: transparent;
}

.collection-list-card-information {
  text-align: var(--text-alignment);
}

.collection-list-card__media,
.collection-list-card .collection-list-media {
  bottom: 0;
  position: absolute;
  top: 0;
}

.collection-list-card .collection-list-media {
  width: 100%;
}


.collection-list-card--media .collection_list_inner .collection-list-card__content {
  position: relative;
  padding: calc(var(--image-padding) + 1rem);
}

.collection-list-card__content {
  display: grid;
  grid-template-rows: minmax(0, 1fr) max-content minmax(0, 1fr);
  padding: 1rem;
  width: 100%;
  flex-grow: 1;
}

.collection-list-card__content--auto-margins {
  grid-template-rows: minmax(0, auto) max-content minmax(0, auto);
}

.collection-list-card__information {
  grid-row-start: 2;
}

.collection-list-card:not(.ratio) > .collection-list-card__content {
  grid-template-rows: max-content minmax(0, 1fr) max-content auto;
}

@media screen and (min-width: 990px) {
  .grid--6-col-desktop .collection-list-card__content quick-add-bulk .quantity {
    width: auto;
  }

  .grid--6-col-desktop .collection-list-card_content quick-add-bulk .quantity_button {
    width: calc(3rem / var(--font-body-scale));
  }
}

@media screen and (max-width: 749px) {
   
    .collection_list_inner{
          height:173px;
    }
  .grid--2-col-tablet-down .collection-list-card_content quick-add-bulk .quantity_button {
    width: calc(3.5rem / var(--font-body-scale));
  }

  .grid--2-col-tablet-down
    .collection-list-card--card
    .collection-list-card__information-volume-pricing-note--button
    + .global-settings-popup.quantity-popover__info,
  .grid--2-col-tablet-down
    .collection-list-card--standard
    .collection-list-card__information-volume-pricing-note--button
    + .global-settings-popup.quantity-popover__info {
    left: 50%;
    transform: translate(-50%);
  }

  .grid--2-col-tablet-down
    .collection-list-card--standard
    .collection-list-card__information-volume-pricing-note--button
    + .global-settings-popup.quantity-popover__info {
    width: 100%;
  }

  .grid--2-col-tablet-down
    .collection-list-card--card
    .collection-list-card__information-volume-pricing-note--button
    + .global-settings-popup.quantity-popover__info {
    width: calc(100% + var(--border-width) + 4rem);
  }

  .grid--2-col-tablet-down .collection-list-card__content quick-add-bulk .quantity {
    width: auto;
  }
}

.collection-list-card-information quantity-popover volume-pricing {
  margin-top: 0;
}

@media screen and (max-width: 989px) {
  .collection-list-card-information quantity-popover .quantity__rules ~ volume-pricing {
    margin-top: 0;
  }

  .collection-list-card-information quantity-popover volume-pricing {
    margin-top: 4.2rem;
  }
}

@media screen and (min-width: 750px) {
  .collection-list-card__information {
    padding-bottom: 1.7rem;
    padding-top: 1.7rem;
  }
}

.collection-list-card__badge {
  align-self: flex-end;
  grid-row-start: 3;
  justify-self: flex-start;
}

.collection-list-card__badge.top {
  align-self: flex-start;
  grid-row-start: 1;
}

.collection-list-card__badge.right {
  justify-self: flex-end;
}

.collection-list-card:not(.collection-list-card--horizontal) > .collection-list-card_content > .collection-list-card_badge {
  margin: 1.3rem;
}

.collection-list-card__media .collection-list-media img {
  height: 100%;
  object-fit: cover;
  object-position: center center;
  width: 100%;
}

.collection-list-inner:not(.ratio) > .collection-list-card__content {
  height: 100%;
}

.collection-list-card__heading {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--product_price_font);
}

.collection-list-card__heading:last-child {
  margin-bottom: 0;
}

.collection-list-card--horizontal .collection-list-card__heading,
.collection-list-card--horizontal .price__container .price-item,
.collection-list-card--horizontal__quick-add {
  font-size: calc(var(--font-heading-scale) * 1.2rem);
}

.collection-list-card--horizontal
  .collection-list-card-information
  > *:not(.visually-hidden:first-child)
  + *:not(.rating):not(.collection-list-card__information-volume-pricing-note) {
  margin-top: 0;
}

.collection-list-card--horizontal__quick-add:before {
  box-shadow: none;
}

@media only screen and (min-width: 750px) {
  .collection-list-card--horizontal .collection-list-card__heading,
  .collection-list-card--horizontal .price__container .price-item,
  .collection-list-card--horizontal__quick-add {
    font-size: calc(var(--font-heading-scale) * 1.3rem);
  }
}

.collection-list-card--card.collection-list-card--media > .collection-list-card__content {
  margin-top: calc(0rem - var(--image-padding));
}

.collection-list-card--standard.collection-list-card--text a::after,
.collection-list-card--card .collection-list-card__heading a::after {
  bottom: calc(var(--border-width) * -1);
  left: calc(var(--border-width) * -1);
  right: calc(var(--border-width) * -1);
  top: calc(var(--border-width) * -1);
}

.collection-list-card__heading a::after {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.collection-list-card__heading a:after {
  outline-offset: 0.3rem;
}

.collection-list-card__heading a:focus:after {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)),
    0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3);
  outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
}

.collection-list-card__heading a:focus-visible:after {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)),
    0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3);
  outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
}

.collection-list-card__heading a:focus:not(:focus-visible):after {
  box-shadow: none;
  outline: 0;
}

.collection-list-card__heading a:focus {
  box-shadow: none;
  outline: 0;
}

@media screen and (min-width: 990px) {
  .collection-list-card .collection-list-media.collection-list-media--hover-effect > img:only-child,
  .collection-list-card-wrapper .collection-list-media.collection-list-media--hover-effect > img:only-child {
    transition: transform var(--duration-long) ease;
  }

  .collection-list-card:hover .collection-list-media.collection-list-media--hover-effect > img:first-child:only-child,
  .collection-list-card-wrapper:hover .collection-list-media.collection-list-media--hover-effect > img:first-child:only-child {
    transform: scale(1.03);
  }

  .collection-list-card-wrapper:hover
    .collection-list-media.collection-list-media--hover-effect
    > img:first-child:not(:only-child) {
    opacity: 0;
  }

  .collection-list-card-wrapper:hover .collection-list-media.collection-list-media--hover-effect > img + img {
    opacity: 1;
    transition: transform var(--duration-long) ease;
    transform: scale(1.03);
  }

  .underline-links-hover:hover a {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
  }
}

.collection-list-card--standard.collection-list-card--media .collection-list-inner .collection-list-card__information,
.collection-list-card--standard.collection-list-card--text:not(.collection-list-card--horizontal)
  > .collection-list-card__content
  .collection-list-card_heading:not(.collection-list-card_heading--placeholder),
.collection-list-card--standard:not(.collection-list-card--horizontal) > .collection-list-card_content .collection-list-card_badge,
.collection-list-card--standard.collection-list-card--text.article-card > .collection-list-card_content .collection-list-card_information,
.collection-list-card--standard > .collection-list-card_content .collection-list-card_caption {
  display: none;
}

.collection-list-card--standard:not(.collection-list-card--horizontal) .placeholder-svg {
  width: 100%;
}

.collection-list-card--standard > .collection-list-card__content {
  padding: 0;
}

.collection-list-card--standard > .collection-list-card_content .collection-list-card_information {
  padding-left: 0;
  padding-right: 0;
}

.collection-list-card--card.collection-list-card--media .collection-list-inner .collection-list-card__information,
.collection-list-card--card.collection-list-card--text .collection-list-inner,
.collection-list-card--card.collection-list-card--media > .collection-list-card_content .collection-list-card_badge {
  display: none;
}

.collection-list-card--horizontal .collection-list-card__badge,
.collection-list-card--horizontal.collection-list-card--text .collection-list-inner {
  display: none;
}

.collection-list-card--extend-height {
  height: 100%;
}

.collection-list-card--extend-height.collection-list-card--standard.collection-list-card--text,
.collection-list-card--extend-height.collection-list-card--media {
  display: flex;
  flex-direction: column;
}

.collection-list-card--extend-height.collection-list-card--standard.collection-list-card--text .collection-list-inner,
.collection-list-card--extend-height.collection-list-card--media .collection-list-inner {
  flex-grow: 1;
}

.collection-list-card .icon-wrap {
  margin-left: 0.8rem;
  white-space: nowrap;
  transition: transform var(--duration-short) ease;
  overflow: hidden;
}

.collection-list-card-information > * + * {
  margin-top: 0.5rem;
}

.collection-list-card-information {
  width: 100%;
}

.collection-list-card-information > * {
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  color: rgb(var(--color-foreground));
}

.collection-list-card-information > .price {
  color: rgb(var(--color-foreground));
}

.collection-list-card--horizontal .collection-list-card-information > .price {
  color: rgba(var(--color-foreground), 0.75);
}

.collection-list-card-information > .rating {
  margin-top: 0.4rem;
}

.collection-list-card-information
  > *:not(.visually-hidden:first-child)
  + quantity-popover:not(.rating):not(.collection-list-card__information-volume-pricing-note),
.collection-list-card-information
  .collection-list-card_information-volume-pricing-note.collection-list-card_information-volume-pricing-note--button {
  margin-top: 0;
}

.collection-list-card-information
  > *:not(.visually-hidden:first-child)
  + *:not(.rating):not(.collection-list-card__information-volume-pricing-note) {
  margin-top: 0.7rem;
}

.collection-list-card-information .caption {
  letter-spacing: 0.07rem;
}

.collection-list-card-article-info {
  margin-top: 1rem;
}

/* Card Shapes */

.collection-list-card--shape .collection-list-card__content {
  padding-top: 0;
}

.collection-list-card--shape.collection-list-card--standard:not(.collection-list-card--text) .collection-list-inner {
  border: 0;
  /* Border is not currently compatible with image shapes for standard cards. */
  background-color: transparent;
  filter: drop-shadow(
    var(--shadow-horizontal-offset) var(--shadow-vertical-offset)
      var(--shadow-blur-radius) rgba(var(--color-shadow), var(--shadow-opacity))
  );
}

.collection-list-card--shape.collection-list-card--standard:not(.collection-list-card--text) .collection-list-inner:after {
  display: none;
}

.grid__item:nth-child(2n) .shape--blob {
  clip-path: polygon(var(--shape--blob-2));
}

.grid__item:nth-child(3n) .shape--blob {
  clip-path: polygon(var(--shape--blob-3));
}

.grid__item:nth-child(4n) .shape--blob {
  clip-path: polygon(var(--shape--blob-4));
}

.grid__item:nth-child(5n) .shape--blob {
  clip-path: polygon(var(--shape--blob-5));
}

.grid__item:nth-child(7n) .shape--blob {
  clip-path: polygon(var(--shape--blob-6));
}

.grid__item:nth-child(8n) .shape--blob {
  clip-path: polygon(var(--shape--blob-1));
}

/* Card Shape Hover Rules */

@media (prefers-reduced-motion: no-preference) {
  .product-collection-list-card-wrapper .shape--round {
    transition: clip-path var(--duration-long) ease;
  }

  .product-collection-list-card-wrapper:hover .shape--round {
    clip-path: ellipse(47% 47% at 50% 50%);
  }

  .product-collection-list-card-wrapper .shape--blob {
    transition: clip-path var(--duration-long) ease-in-out;
  }

  .product-collection-list-card-wrapper:hover .shape--blob {
    clip-path: polygon(var(--shape--blob-5));
  }

  .grid__item:nth-child(2n) .product-collection-list-card-wrapper:hover .shape--blob {
    clip-path: polygon(var(--shape--blob-6));
  }

  .grid__item:nth-child(3n) .product-collection-list-card-wrapper:hover .shape--blob {
    clip-path: polygon(var(--shape--blob-1));
  }

  .grid__item:nth-child(4n) .product-collection-list-card-wrapper:hover .shape--blob {
    clip-path: polygon(var(--shape--blob-2));
  }

  .grid__item:nth-child(5n) .product-collection-list-card-wrapper:hover .shape--blob {
    clip-path: polygon(var(--shape--blob-3));
  }

  .grid__item:nth-child(7n) .product-collection-list-card-wrapper:hover .shape--blob {
    clip-path: polygon(var(--shape--blob-4));
  }

  .grid__item:nth-child(8n) .product-collection-list-card-wrapper:hover .shape--blob {
    clip-path: polygon(var(--shape--blob-5));
  }
}

.collection-list-semicircle1 {
  background-color: rgb(var(--color-background));
}

.collection-list-heading-part {
  width: 57%;
  margin: 10px 40px 40px 40px;
}

@media screen and (max-width: 749px) {
  .collection-list {
    margin: 0 10px 0 10px;
  }
  .collection-list:not(.slider) {
    padding-left: 0;
    padding-right: 0;
  }

  .section-collection-list .page-width {
    padding-left: 0;
    padding-right: 0;
  }

  .section-collection-list .collection-list:not(.slider) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.collection-list__item:only-child {
  max-width: 100%;
  width: 100%;
}

@media screen and (max-width: 749px) {
  .slider.collection-list--1-items {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 989px) {
  .collection-list-heading-part {
    width: 95%;
    margin: 0px 10px 0px 10px;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .slider.collection-list--1-items,
  .slider.collection-list--2-items,
  .slider.collection-list--3-items,
  .slider.collection-list--4-items {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 750px) {
  .collection-list__item a:hover {
    box-shadow: none;
  }
}

@media screen and (max-width: 989px) {
  .collection-list.slider .collection-list__item {
    max-width: 100%;
  }
}

.collection-list-view-all {
  margin-top: 2rem;
}
