.svgemptycard{
  width:50%;
  height:345px;
}
.emptysvg{
  width:100%;
  height:100%;
}
.favouritestart{
  padding:20px;
}
.title{
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  line-height: 34px;
}
.cart_total_count{
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  line-height: 34px;
}
.underlined-link{
   font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  line-height: 34px;
}

.cart {
  position: relative;
  display: block;
}
.cart-heading{
    display: flex;
    gap: 30px;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
}
cart-items .title-wrapper-with-link {
    margin-top: 6px;
}
.cart_total_count {
    position: relative; 
     text-align:center;
      width: 118px;
    height: 38px;
}
.cart_total_count span {
    position: relative;
  z-index: 1; 
   margin:18px; 
  font-size: 17px;
   color: rgb(var(--color-button-text));
      top: 4px;
  }
.svg-path{
     fill: rgb(var(--color-button));
}

.cart_total_count .background-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; 
    pointer-events: none; 
}


.cart__empty-text,
.is-empty .cart__contents,
cart-items.is-empty .title-wrapper-with-link,
.is-empty .cart__footer {
  display: none;
}

.is-empty .cart__empty-text,
.is-empty .cart__warnings {
  display: block;
}

.cart__warnings {
  justify-items:center;
  display: none;
  text-align: center;
  padding: 3rem 0 1rem;
}

.total-section {
  text-align: left;
}

.total-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 0.5rem;
}
.cart__checkout-button {
  width: 100%;
  max-width: 320px;
}