.cart__empty-text{
  font-family: var(--font-body-family);
    font-style: var(--font-body-style);
    font-size: calc(var(--font-body-scale) * 48px);
font-weight: 600;
line-height: 65px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}
.favouritestart{
  font-family: var(--font-body-family);
    font-style: var(--font-body-style);
    font-size: calc(var(--font-body-scale) * 32px);
font-weight: 400;
line-height: 34px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
button{
  font-family: var(--font-body-family);
    font-style: var(--font-body-style);
    font-size: calc(var(--font-body-scale) * 32px);
font-weight: 400;
line-height: 34px;
text-align: center;
text-decoration-line: underline;
text-decoration-style: solid;
text-underline-position: from-font;
text-decoration-skip-ink: auto;
}
.svgemptycard{
  width:30vw;
  height:30vh;
  margin-bottom: 28px;
}
.emptysvg{
  width:100%;
  height:100%;
}
.favouritestart{
  padding:20px;
}
.title{
 font-family: var(--font-heading-family);
    font-style: var(--font-heading-style);
    font-size: calc(var(--font-heading-scale) * 40px);
  font-weight: 500;
  line-height: 34px;
}
.cart_total_count{
  font-family: var(--font-body-family);
    font-style: var(--font-body-style);
    font-size: calc(var(--font-body-scale) * 20px);
  font-weight: 500;
  line-height: 34px;
}
.underlined-link{
  font-family: var(--font-body-family);
    font-style: var(--font-body-style);
    font-size: calc(var(--font-body-scale) * 16px);
  font-weight: 500;
  line-height: 34px;
}

.cart {
  position: relative;
  display: block;
}
.cart-heading{
    display: flex;
    gap: 30px;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
}
cart-items .title-wrapper-with-link {
    margin-top: 6px;
}
.cart_total_count {
    position: relative; 
     text-align:center;
      width: 118px;
    height: 38px;
}
.cart_total_count span {
    position: relative;
  z-index: 1; 
   margin:18px; 
  font-size: 17px;
   color:var(--product_price_card);
      top: 4px;
  }
.svg-path{
     fill: rgb(var(--color-button));
}

.cart_total_count .background-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; 
    pointer-events: none; 
}


.cart__empty-text,
.is-empty .cart__contents,
cart-items.is-empty .title-wrapper-with-link,
.is-empty .cart__footer {
  display: none;
}

.is-empty .cart__empty-text,
.is-empty .cart__warnings {
  display: block;
}

.cart__warnings {
  justify-items:center;
  display: none;
  text-align: center;
  padding: 1rem 0 1rem;
}

.total-section {
  text-align: left;
}

.total-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 0.5rem;
}
.cart__checkout-button {
  width: 100%;
  max-width: 320px;
}
