.cart {
  position: relative;
  display: block;
}
.cart-heading{
    display: flex;
    gap: 30px;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
}
cart-items .title-wrapper-with-link {
    margin-top: 6px;
}
.cart_total_count{
  background-color:white;
  padding:10px;
}
.cart_total_count span{
  color:black;
 font-weight: bold;
padding: 0 12px;
}
.cart__empty-text,
.is-empty .cart__contents,
cart-items.is-empty .title-wrapper-with-link,
.is-empty .cart__footer {
  display: none;
}

.is-empty .cart__empty-text,
.is-empty .cart__warnings {
  display: block;
}

.cart__warnings {
  display: none;
  text-align: center;
  padding: 3rem 0 1rem;
}

.total-section {
  text-align: left;
}

.total-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 0.5rem;
}





.cart__checkout-button {
  width: 100%;
  max-width: 320px;
}