.pagination-wrapper {
    margin: 3rem 0;
    background-color: rgb(var(--color_background));

  }

  .pagination__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
      background-color: var(--color_background) ;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .pagination__list > li {
    margin: 0 0.5rem;
  }

  .pagination__item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 3.6rem;
    min-width: 3.6rem;
    padding: 0 1.3rem;
    line-height: 1;
    text-decoration: none;
    border-radius: 4px;
      color: var(--product-card-text-color);
    transition: color 0.2s ease-in-out;
  }

  .pagination__item--current {
    background-color: rgba(var(--color-button-text), 1);
    color: rgba(var(--color-button), 1);
    border-radius: 2px;
    text-decoration: none;
  }

  .pagination__item--arrow {
    padding: 0 1rem;
  }

  .pagination__item-arrow .svg-wrapper {
    display: flex;
    align-items: center;
  }

  .pagination__item-arrow svg {
    height: 1.5rem;
    width: 1.5rem;
      fill: var(--color_text);
  }

  .pagination__item--prev svg {
    transform: rotate(90deg);
  }

  .pagination__item--next svg {
    transform: rotate(-90deg);
  }


  /* For mobile responsiveness */
  @media screen and (max-width: 749px) {
    .pagination__item {
      min-height: 3rem;
      min-width: 3rem;
      padding: 0 0.8rem;
    }
  }
