{{ section.settings.font_title | font_face: font_display: 'swap' }}
.layout1 {
  text-align: center;
  padding: 20px;
}
.layout1 p{
   margin-bottom: 5px;
  font-family:  {{ section.settings.font_richtextsubheading.family | default: "Inter" }}, {{ section.settings.font_richtextsubheading.fallback_families }};
  font-weight: {{ section.settings.font_richtextsubheading.weight }};
  font-style: {{ section.settings.font_richtextsubheading.style }};
}

.layout1 h2 {
  font-family:  {{ section.settings.font_title.family | default: "Fira Sans" }}, {{ section.settings.font_title.fallback_families }};
  font-weight: {{ section.settings.font_title.weight }};
  font-style: {{ section.settings.font_title.style }};
  font-size: {{ section.settings.heading_font_size }}px;
}

.layout1 .rich-text__text {
  font-family: {{ section.settings.font_richtext.family }}, {{ section.settings.font_richtext.fallback_families }};
   font-weight: {{ section.settings.font_richtext.weight }};
  font-style: {{ section.settings.font_richtext.style }};
  margin: 0 auto;
 font-size: {{ section.settings.text_font_size }}px;
 max-width: 600px;
 line-height: 1.6;
}

.decorative-dots {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #303030;
  border-radius: 100%;
  margin: 0 12px;
}
.layout2 {
 background-color: {{ section.settings.background_color }};
  text-align: center;
}


.layout2 h2 {
  font-family: {{ section.settings.font_title.family }}, {{ section.settings.font_title.fallback_families }};
  font-weight: {{ section.settings.font_title.weight }};
  font-style: {{ section.settings.font_title.style }};
  font-size: {{ section.settings.heading_font_size }}px;
}

.layout2 .rich-text__text {
  font-family: {{ section.settings.font_richtext.family }}, {{ section.settings.font_richtext.fallback_families }};
  font-weight: {{ section.settings.font_richtext.weight }};
  font-style: {{ section.settings.font_richtext.style }};
   margin: 0 auto;
   font-size: {{ section.settings.text_font_size }}px;
   max-width: 600px;
   line-height: 1.6;
}

.dots-container {
display: flex;
justify-content: space-between;
align-items: center;
margin: 0 auto;
max-width:900px;
}

.rich-text__blocks {
width: 60%;
text-align: center;
}

.side-dots {
display: flex;
flex-direction: column;
justify-content: space-between;
}

.side-dots.left, .side-dots.right {
width: 3%;
padding: 0;
margin: 0; 
}


.dot-l {
width: 10px;
height: 10px;
border-radius: 50%;
margin: 8px auto; 
background-color: #303030; 
}



@media screen and (max-width: 749px) {
  .layout1,
  .layout2 {
      text-align: center;
  }
  .layout1 h2,
  .layout2 h2 {
    font-size: {{ section.settings.heading_font_size | times: 0.8 | round: 0 }}px;
  }


  .layout1 .rich-text__text,
  .layout2 .rich-text__text {
    font-size: {{ section.settings.text_font_size | times: 0.9 | round: 0 }}px;
  }
 .dots-container {
  flex-direction: column; 
  justify-content: center;
  max-width: 100%;
}
.side-dots.left, .side-dots.right {
  width: 100%; 
}
.side-dots {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  margin-bottom: 20px; 
}
  .side-dots.left {
    margin-top:10px;
  order: -1;
}
    .side-dots.right {
  order: 1;
      margin-bottom:10px;
}



  .rich-text__blocks {
    width: 80%;
    margin-bottom: 20px;
  }
.dot-l {
  width: 10px;
  height: 10px;
  margin: 12px; 
}
  


}
