.bb-upper-template-signup {
    background-color: var(--color-button);
    margin: auto;
    display: block;
    padding: 2rem;
    position: relative;
    width: auto;
    max-width: var(--page-width);
    border-radius: 5px;
    overflow: hidden;
}

.bb-email-uper-banner {
    height: 100%;
    overflow: hidden;
    padding: 7rem 0rem;
}

.bb-template-signup {
    background-color: rgba(var(--color-button));
    display: block;
   padding: 13rem !important; 
    width: auto !important;
    max-width: none;
    margin: 2rem;
    position: relative;
    border-radius: 5px;
}

.vertical-bar-top-404 {
    top: 2.5rem;
    left: 8rem;
    display: flex;
    flex-direction: row;
    position: absolute;
    gap: 51px;
    z-index: 2;
}

.vertical-bar-bottom-404 {
    bottom: -1.5rem;
    left: 8rem;
    display: flex;
    flex-direction: row;
    position: absolute;
    gap: 51px;
    z-index: 1;
}

.vertical-bar-left-404 {
    left: 2.5rem;
    top: 8.25rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 54px;
    z-index: 2;
}

.vertical-bar-right-404 {
    right: 2.5rem;
    top: 8.25rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 54px;
    z-index: 2;
}


.vertical-bar-top-e-404 {
    top: -1.5rem;
    left: 3rem;
    display: flex;
    flex-direction: row;
    position: absolute;
    gap: 52.5px;
    z-index: 1;
}

.vertical-bar-bottom-e-404 {
    bottom: -1.5rem;
    left: 3rem;
    display: flex;
    flex-direction: row;
    position: absolute;
    gap: 52.5px;
    z-index: 1;
}

.vertical-bar-left-e-404 {
    left: -1.5rem;
    top: 3rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 50px;
    z-index: 1;
}

.vertical-bar-right-e-404 {
    right: -1.5rem;
    top: 3rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 50px;
    z-index: 1;
}


.vertical-bar-circle-404 {
    width: 30px;
    height: 32px;
    background-color: rgb(var(--color-background));
    border-radius: 50%;
    display: block !important;
}

.vertical-bar-circle-h-404 {
    width: 32.75px;
    height: 30px;
    background-color: rgb(var(--color-background));
    border-radius: 50%;
    display: block !important;
}

.bb-mail-signup-banner__heading {
    font-family: 'Fira Sans';
    font-weight: 500;
    font-size: 36px;
    line-height: 34px;
    margin-bottom: 0px;
}

.bb-newsletter__subheading {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    width: 70%;
}

.bb-newsletter-form__field-wrapper {
    max-width: none !important;
}

.bb-newsletter-field:after {
    border: .1rem solid rgba(var(--color-foreground));
}
.newsletter-form__field-wrapper  .bb-field__input {
/*    padding-left: 80rem; */
}

.bb-newsletter-form {
    align-items: center !important;
    max-width: none !important;
}

.bb-newsletter-wrapper {
    width: 80%;
    margin: 0 auto;
}

.bb-404-h-button:hover, .bb-404-c-button:hover {
    color: white;
}

.bb-404-h-button , .bb-404-c-button {
font-family: 'Fira Sans';
margin-top: 2rem;
border-radius: 5px;
background-color: rgb(var(--color-button-text));
color: rgb(var(--color-secondary-button-text));
}

.bb-modal__toggle-open {
    border-style: solid;
    padding: 1rem;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    color: rgb(var(--color-foreground));
}
.desktop-view {
    display: block;
  }
  
  .mobile-view {
    display: none;
  }

  .desktop-view-flex {
    display: flex;
  }
  
  .mobile-view-flex {
    display: none;
  }

  .bb-pwd-signup {
    background-color: rgba(var(--color-button));
    display: block;
    border-radius: 5px;
  }

  .bb-password-modal__content {
    background-color: rgba(var(--color-button));
    position: relative;
    height: 54% !important;
    max-width: var(--page-width);
  }

  .bb-password-form {
    width: 100rem;
    max-width: none !important;
  }

  .pwd-para {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
  }

  .bb-password__footer-text a {
    font-family: 'Inter';
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 40px;
    background: black;
      color: white;
      padding: 0 3rem;
      text-decoration: none;
      margin-left: 3rem;
      letter-spacing: .1rem;
      border-radius: 5px;
  }
  
  .bb-password__footer-text {
    padding: 0;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
  }

  .bb-login-pwd:hover {
    color: white;
  }

  .bb-password__footer-text .bb-login-pwd {
    font-family: 'Inter' !important;
    font-weight: 500 !important;
    line-height: 34px !important;
    border-radius: 5px !important;
    background-color: rgb(var(--color-button-text)) !important;
    color: rgb(var(--color-secondary-button-text)) !important;
  }
  @media screen and (max-width: 749px) {

    .bb-modal__toggle-open {
        padding: 0.75rem;
    }
    .pwd-para {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
    .bb-password__footer-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;       
    }
    .bb-password__footer-text a{
        margin-left: 0rem;
        margin-top: 2rem;
    }
    .bb-password-form {
        width: auto;
        gap: 2rem;
    }

    .mobile-view {
      display: block;
    }
  
    .desktop-view {
      display: none !important;
    }

    .mobile-view-flex {
        display: flex;
    }
    
    .desktop-view-flex {
        display: none !important;
    }

    .vertical-bar-circle-404 {
        width: 13px;
        height: 13px;
    }
    .vertical-bar-top-404 {
        top: -0.5rem;
        left: 1.25rem;
        gap: 24.25px;
    }
    .vertical-bar-bottom-404 {
        bottom: -0.5rem;
        left: 1.25rem;
        gap: 24.25px;
    }

    .bb-upper-template-signup {
        background-color: rgba(var(--color-button));
        display: block;
        position: relative;
        margin: auto;
        padding: 0rem;
        border-radius: 5px;
    }

    .bb-template-signup {
        background-color: unset;
        padding: 0rem !important; 
        margin: 10rem 2rem !important;
    }

    .bb-mail-signup-banner__heading {
        font-family: 'Fira Sans';
        font-weight: 500;
        font-size: 32px;
        line-height: 34px;
    }
    
    .bb-newsletter__subheading {
        font-family: 'Inter';
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }

    .bb-newsletter-wrapper {
        width: 100%;
    }
  }