

.list-menu--right {
  right: 0;
}

.details--list-menu {
  position: initial;
}

.site-header_categories_menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.site-header_categories_list-content {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--submenu-grid-size, 80px), auto));
  align-items: start;
  width: 100%;
  justify-content: left;
  flex-wrap: wrap;
  gap: 0.75rem 3.75rem;
}

.site-header_categories_list-content > li {
  max-width: 280px;
}

.list-menu--disclosure {
  position: absolute;
  background: rgb(var(--color-background));
  padding: 1.125rem 0;
  border-top: solid 1px rgb(var(--color-foreground));
  width: 100vw;
  left: 0;
  top: 100%;
}

.list-menu--disclosure:focus {
  outline: none;
}

.header_submenu .headersubmenu .list-menu_item--active {
  font-weight: 500;
  font-style: italic;
}

.list-menu--disclosure.localization-selector {
  max-height: 18rem;
  overflow: auto;
  width: 10rem;
  padding: 0.5rem;
  border-radius: 6px; 
}

.disclosure__list-wrapper{
  border-radius: 22px !important;
  border: 2px solid black; 

}


@media (max-width: 960px) {
  .site-header_categories_list-content {
    display: block;
    height: 100vh;
    overflow: scroll;
    padding-bottom: 200px;
  }
}






* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --logo-height: 72px;
  --logo-width: 128px;
  --hamburger-size: 84px;
  --header-width: calc(100% - var(--logo-width) - var(--hamburger-size) - 18px);
  --header-height: 56px;
  --nav-icon-size: 32px;
  --dropdown-min-height: 150px;
}

.header-wrapper {
  width: 100%;
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  height: calc(100% + 56px);
  background: rgb(var(--color-background));
}

.logo-container {
  min-height: var(--logo-height);
  width: var(--logo-width);
  display: flex !important;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  overflow:hidden;
}

.logo-container span {
  color: rgb(var(--color-foreground));
  font-family: Arial, sans-serif;
  font-size: 14px;
  display: inline-block !important;
  word-break: break-all;
}

.logo-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block !important;
}


    .hamburger {
      width: var(--hamburger-size);
      height: var(--hamburger-size);
      padding: 21px 18px;
      position: relative;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      background-color: var(--button_label);
    }

    .hamburger-menu {
      width: 100%;
      height: 24px; /* Fixed height for the menu container */
      position: relative;
      cursor: pointer;
    }

    .line {
      width: 100%;
      height: 2px;
     background-color: rgb(var(--color-secondary-button-text));
      border-radius: 2px;
      display: block;
      transition: all 0.3s ease;
      transform-origin: center;
      position: absolute;
      left: 0;
    }

    .line:nth-child(1) {
      top: 0;
    }

    .line:nth-child(2) {
      top: 10px; 
    }

    .line:nth-child(3) {
      top: 20px; 
    }

  
    .hamburger.active .line:nth-child(1) {
      top: 10px; /* Move to center */
      transform: rotate(45deg);
    }

    .hamburger.active .line:nth-child(2) {
      opacity: 0;
    }

    .hamburger.active .line:nth-child(3) {
      top: 10px;
      transform: rotate(-45deg);
    }

.header {
  width: var(--header-width);
  --header-height-auto: 56px;
  height: var(--header-height-auto); 
  padding: 2px 16px;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: calc(-1 * var(--header-width));
  transition: all 0.3s ease;
  box-sizing: border-box;
  border-radius: 4px 0 0 4px;
  background-color: var(--card_background);
  }

.header.show {
  right: var(--hamburger-size);
}

.nav-items,
.dropdown,
.nested-dropdown {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block !important;
}

.nav-items {
  display: flex !important;
  gap: 1rem;
  flex-direction: row;
  justify-content: var(--nav-items-justify-content);
  align-items: center;
   overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none; 
  -ms-overflow-style: none;
   position: static;
  padding-left:1rem;
  padding-right:1rem;
   -webkit-overflow-scrolling: touch;
}
nav-items::-webkit-scrollbar {
  display: none;
}
.header-dots{
  display:flex;
  flex-direction:column;
  height:95%;
  width:7px;
  gap:5px;
     align-items: center;
}
.h-dots{
  background-color: rgb(var(--color-background));
  width:5px;
  height:5px;
  border-radius:50%;
}
.nav-item {
  position: static;
  display: inline-block !important;
}

.nav-link {
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: var(--font-size);
  color: rgb(var(--color-text));
  background: none;
  font-weight: 500;
  line-height: 1.25rem;
  text-align: center;
  font-family: 'Inter', sans-serif;
  white-space: nowrap;
  cursor: pointer;
  position: relative;
  z-index: 1;
  display: inline-block !important;
}


.nav-link::after {
 content: '';
  position: absolute;
  height: 1px;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color:currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.nav-link:hover::after {
 transform: scaleX(1);
  transform-origin: left;
}
.nav-link:not(:hover)::after {
  transform-origin: right;
}

.dropdown-container {
  margin-top:8px;
  background-color: var(--background_product_card);
  position: absolute;
   top: 100%; 
  left: var(--dropdown-offset, 0);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
  padding: 16px;
  white-space: nowrap;
  border-radius: 4px;
  z-index: 9999;
   min-width: max-content; 
}


.dropdown-container.show {
  
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown,
.nested-dropdown {
  background-color: var(--background_product_card);
  z-index: 1;
  min-height: var(--dropdown-min-height);
  display: flex !important;
  flex-direction: column;
  gap: 8px;
}

.nested-dropdown {
  position: absolute;
  border-radius: 4px;
  left: 100%;
  top: 0;
  height: fit-content;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
  padding: 16px;
}

.nested-dropdown.show {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.dropdown-item {
  background-color: var(--background_product_card);
  padding:12px 24px;
  border-radius: 4px;
  text-decoration: none;
  display: block !important;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  line-height: 1.25rem;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  z-index: 2;
  white-space: nowrap;
  transition: background-color 0.3s ease;
}
.dropdown-item:hover {
  background-color: inherit !important;
}
.dropdown-item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 6px;
  left: 0;
  background-color:currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}
.dropdown-item:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.dropdown-item:not(:hover)::after {
  transform-origin: right;
}

.flex-container {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  position: relative;
  overflow-x: clip;
  margin: 0 var(--margin-right) 0 var(--margin-left);
}

.nav-icons {
          display: flex !important;
    align-items: center;
    gap: 20px;
    height: 100%;
    margin-right: 40px;
}

.nav-icon {
  width: 30px;
    height: 30px;
    align-items: center;
   display: flex !important;
  justify-content: center;
  padding-top: 4px;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}
.nav-icon:hover {
  transform: scale(1.5); 
}
.js-drawer-open-cart{
  display:flex;
  justify-content:center;
      align-items: center;
  height:24px;
  width:24px;
}
.navpngicon{
  width: 19.96px;
height: 19.98px;

}

.nav-icon .svg-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(var(--color-foreground));
  transition: color 0.2s ease; 
}

.nav-icon .svg-wrapper svg {
  width: 100%;
  height: 100%;
  color: rgb(var(--color-foreground));
}
.nav-link:hover {
  color: inherit !important;
}

.nested-dropdown-item {
  font-size: 14px;
  line-height: 1.25rem;
}

.nested-dropdown-overlay {
  position: absolute;
  top: 0;
  left: -2%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 1;
}
.nested-dropdown-overlay-circles {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  overflow: hidden;
}
.nested-dropdown-overlay-circle {
  flex-shrink: 0;
  display: block !important;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(var(--color-foreground), 0.5);
  margin-left: 8px;
}

.mobile-header-drawer {
  position: absolute;
  top: 0;
  right: -100%;
  width: 80%;
  height: 100%;
  transition: right 0.3s ease-in-out;
  z-index: 9999;
  background-color: var(--card_background);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

.mobile-header-drawer.open {
  right: 0;
}

body.drawer-open {
  overflow: hidden;
}

.localization-form__select>span {
    max-width: 26ch;
    font-weight: 600;
    font-size: 10px;
    margin-top: 2px;
}

@media (max-width: 1280px) {
  :root {
    --logo-height: 60px;
    --logo-width: 107px;
    --hamburger-size: 75px;
    --header-height: 50px;
    --nav-icon-size: 28px;
    --dropdown-min-height: 130px;
  }
}

@media (max-width: 989px) {
  .header {
    display: none !important;
  }
  :root {
    --logo-height: 48px;
    --logo-width: 86px;
    --hamburger-size: 48px;
    /* --header-width: calc(100% - var(--logo-width) - var(--hamburger-size) - 24px); */
    --dropdown-min-height: 110px;
  }
  .flex-container{
    margin: 0;
    padding: 0 20px;
  }
   .hamburger {
      padding: 11px 8px;
   }
}

@media (max-width: 768px) {
  .header {
    display: none !important;
  }
}

@media (max-width: 480px) {
  .header {
    display: none !important;
    
  }


}

@media (min-width: 990px) {
  .mobile-header-drawer {
    display: none !important;
  }
}

@media (min-width: 1441px) {
  :root {
    --logo-height: 84px;
    --logo-width: 149px;
    --hamburger-size: 72px;
    /* --header-width: calc(100% - var(--logo-width) - var(--hamburger-size) - 16px); */
    --header-height: 62px;
    --nav-icon-size: 36px;
    --dropdown-min-height: 170px;
  }
 
}

.mobile-header-drawer {
  width: 266px;
  height: 508px;
  display: flex;
  z-index: 10000000000000;
  flex-direction: column;
  gap: 16px;
}

.mobile-header-drawer-close {
  padding: 12px 18px;
  display: flex;
  justify-content: flex-end;
}

.close-icon {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.mobile-nav-items {
  /*testing scrollable  */
  overflow-y:auto;
   white-space: nowrap;
  scrollbar-width: none; 
  -ms-overflow-style: none;
     -webkit-overflow-scrolling: touch;
  height:316px;
  /*  end testing  */
  display: flex;
  flex-direction: column;
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.25rem;
  list-style: none;
  padding: 0;
  margin: 0;
}
/* testing   */
mobile-nav-items::-webkit-scrollbar {
  display: none;
}
/*  end testing */

.mobile-nav-item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(var(--color-foreground), 0.25);
  /* padding: 12px 20px; */
  transition: padding-bottom 0.3s ease;
}

.mobile-nav-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  padding: 12px;
  cursor: pointer;
  color: rgb(var(--color-text));
  font-family: var(--font-heading-family);
    font-weight: var(--font-heading-weight);
}

.mobile-dropdown {
  max-height: 0;
  overflow: visible;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  padding:0px 11px;
}

.mobile-dropdown-item {
  padding: 8px 0px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(var(--color-foreground));
  font-family: var(--font-heading-family);
    font-weight: var(--font-heading-weight);
}

.mobile-nested-dropdown {
  max-height: 0;
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

.mobile-nav-icons-container {
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
  background: rgba(255,255,255, 0.25);
}

.mobile-nav-indicators {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 16px;
}

.mobile-nav-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
 width: 62px;
  height: 16px;
}

.mobile-nav-icons .nav-icon {
  display: flex;
  justify-content: center;
  align-items: center !important;
  padding-top: 0 !important;
  cursor: pointer;
}


.mobile-search-toggle {
  text-decoration: none;
}

.mobile-dropdown.show {
  background-color: var(--card_foreground);
  max-height: 1000px;
  opacity: 1;
  font-weight:400;
}

.mobile-nested-dropdown.show {
  max-height: 1000px;
  opacity: 1;
}

.mobile-nav-item.open {
  padding-bottom: 12px;
}

.mobile-nav-item.open > .mobile-nav-link {
  margin-bottom: 8px;
}

.mobile-nav-link > .svg-wrapper,
.mobile-dropdown-item > .svg-wrapper {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.mobile-nav-item.open > .mobile-nav-link > .svg-wrapper {
  transform: rotate(180deg);
}

}

.mobile-dropdown.show {
  max-height: 1000px;
  opacity: 1;
}

.mobile-nested-dropdown.show {
  max-height: 1000px;
  opacity: 1;
}

.mobile-nav-item.open {
  padding-bottom: 12px;
}

.mobile-nav-item.open > .mobile-nav-link {
  margin-bottom: 8px;
}

.mobile-nav-link > .svg-wrapper,
.mobile-dropdown-item > .svg-wrapper {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.mobile-nav-item.open > .mobile-nav-link > .svg-wrapper {
  transform: rotate(180deg);
}
.mobile-dropdown-item-container.open > .mobile-dropdown-item .svg-wrapper {
  transform: rotate(180deg);
}

.mobile-search-wrapper {
  padding: 8px 20px 0;
}

.mobile-search-form {
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0px 5px;
  margin-bottom: 15px;
  background: #fff;
}

.mobile-search-form input[type="search"] {
  border: none;
  outline: none;
  width: 100%;
  font-size: 12px;
  box-shadow: none !important;
}

.mobile-search-form .svg-wrapper {
  width: 12px;
  height: 12px;
  color: gray;
}

.mobile-search-form input[type="search"]::placeholder {
  opacity: 0.3;
}

.mobile-search-form button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
/* Localization Styles */
.country-selector-header-2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.country-selector-header-2 .localization-form {
  width: 100%;
  position: relative;
}

.country-selector-header-2 .localization-form button,
.country-selector-header-2 .localization-form .disclosure__button {
  background-color: transparent;
  border: none !important;
  cursor: pointer;
  font-size: 12px;
  padding: 0.5rem 2rem -1rem;
  margin-top: 5px;
  white-space: nowrap;
  position: relative;
    margin-left: -42px;
   color: inherit; /* Default color, can be overridden */
}

.country-selector-header-2 .localization-form button span,
.country-selector-header-2 .localization-form .disclosure__button span {
  color:rgb(var(--color-foreground));
}


.country-selector-header-2 .localization-form button:focus,
.country-selector-header-2 .localization-form .disclosure__button:focus {
  outline: none;
  box-shadow: none;
}

.country-selector-header-2 .localization-form__select .icon-caret {
  position: absolute;
  height: 0.6rem;
  right: calc(var(--inputs-border-width) + 1.5rem);
  top: calc(50% - 0.2rem);
 margin-right: -30px;
    margin-top: -1px;;
}    
 
.localization-form__select:after {
  pointer-events: none;
  content: '';
  position: absolute;
  top: var(--inputs-border-width);
  right: var(--inputs-border-width);
  bottom: var(--inputs-border-width);
   border:none !important;
  left: var(--inputs-border-width);
  border-radius: var(--inputs-radius);
  /*  box-shadow: 0 0 0 var(--inputs-border-width) rgba(var(--color-foreground), var(--inputs-border-opacity)); */
  transition: box-shadow var(--duration-short) ease;
  z-index: 1;
}

.localization-form__select .icon-caret {
    color: rgb(var(--color-foreground));
}

@media screen and (max-width: 749px) {
    .country-selector__close-button .icon {
margin-right: -65px !important;
    }

  .header-localization:not(.menu-drawer__localization) .localization-form:only-child .localization-form__select {
    margin: 0;
    margin-top: 2px !important;
  }

  .header-localization:not(.menu-drawer__localization) localization-form:only-child .localization-form__select>span {
    margin-top: 2px !important;
  }
