@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --logo-height: 72px;
  --logo-width: 128px;
  --hamburger-width:85px;
  --hamburger-size: 84px;
  --header-width: calc(100% - var(--logo-width) - var(--hamburger-size) - 18px);
  --header-height: 56px;
  --nav-icon-size: 32px;
  --dropdown-min-height: 150px;
}

.header-wrapper {
  width: 100%;
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  height: calc(100% + var(--header-height-auto));
  background: rgb(var(--color-background));
}
.logo-containerimage{
   width: var(--logo-width);
  display: flex !important;
  justify-content: center;
  align-items: center;
  text-decoration: none;
   min-height: var(--logo-height);
}
.logo-container {
  display: flex !important;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.logo-container span {
  color: rgb(var(--color-foreground));
  font-family: Arial, sans-serif;
  font-size: 14px;
  display: inline-block !important;
}

.logo-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block !important;
}

.hamburger {
  position: relative;
  margin-left: 91%;
  margin-right:3%;
  margin-top: -71px;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--background_product_card);
  display: flex;
  justify-content:center;
  padding:20px 0px;
}

.menu-icon {
    width: 4vw; 
    height: 4vw; 
    min-width: 24px;
    max-width: 60px; 
    
    display: block;
    position: relative;
}
@media screen and (max-width: 480px) {
    .menu-icon {
        width: 32px;
        height: 32px;
    }
}

/* For medium screens (tablets) */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .menu-icon {
        width: 5vw;
        height: 5vw;
    }
}

/* For large screens (desktops) */
@media screen and (min-width: 769px) and (max-width: 1200px) {
    .menu-icon {
        width: 4vw;
        height: 4vw;
    }
}

/* For extra large screens */
@media screen and (min-width: 1201px) {
    .menu-icon {
        width: 3vw;
        height: 3vw;
    }
}
    margin-right: 2%;
    margin-left: 92%;
    margin-top: -90px;
    border-radius: 5px;
    background-color: var(--background_product_card);
    display: flex;
    align-items: center;
    padding: 20px 2px;
    justify-content: center;
}
.menu-icon {
    width: 4vw; 
    height: 4vw; 
    min-width: 24px;
    max-width: 60px;
    cursor: pointer;
    display: block;
    position: relative;
}
@media screen and (max-width: 480px) {
    .menu-icon {
        width: 32px;
        height: 32px;
    }
}

/* For medium screens (tablets) */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .menu-icon {
        width: 5vw;
        height: 5vw;
    }
}

/* For large screens (desktops) */
@media screen and (min-width: 769px) and (max-width: 1200px) {
    .menu-icon {
        width: 4vw;
        height: 4vw;
    }
}

/* For extra large screens */
@media screen and (min-width: 1201px) {
    .menu-icon {
        width: 3vw;
        height: 3vw;
    }
}



.hamburger-line {
  width: calc(var(--hamburger-size) * 0.38);
  height: 1px;
  background-color: rgb(var(--color-secondary-button-text));
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block !important;
}


.header {
  width: var(--header-width);
  --header-height-auto: auto;
  height: var(--header-height-auto); 
  padding:6px 16px;
  margin-right: -50px;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 62%;
  top: 46%;
  transform: translateY(-50%);
  right: calc(-1 * var(--header-width));
  transition: all 0.3s ease;
  box-sizing: border-box;
  border-radius: 4px 0 0 4px;
  background-color: var(--background_product_card);
  }

.header.show {
  right: var(--hamburger-size);
}


.nav-items,
.dropdown,
.nested-dropdown {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block !important;
}

.nav-items {
  display: flex !important;
  flex-wrap: wrap;
  gap: 1rem;
  flex-direction: row;
  justify-content: var(--nav-items-justify-content);
  align-items: center;
}

.nav-item {
  position: relative;
  display: inline-block !important;
}

.nav-link {
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: var(--font-size);
  color: rgb(var(--color-text));
  background: none;
  font-weight: 500;
  line-height: 1.25rem;
  text-align: center;
  font-family: 'Inter', sans-serif;
  white-space: nowrap;
  cursor: pointer;
  position: relative;
  z-index: 1;
  display: inline-block !important;
}

.nav-link::before {
  content: '';
  position: absolute;
  border-radius: 4px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(var(--color-foreground), 0.2);
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
  display: block !important;
}

.nav-link:hover::before,
.nav-link.active::before,
.nav-item:hover .nav-link::before {
  transform: scaleX(1);
}

.dropdown-container {
  background-color: var(--background_product_card);
  position: absolute;
  top: 100%;
  left: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
  padding: 16px;
  white-space: nowrap;
  border-radius: 4px;
  z-index: 9999;
}

.dropdown-container.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown,
.nested-dropdown {
  background-color: var(--background_product_card);
  z-index: 1;
  min-height: var(--dropdown-min-height);
  display: flex !important;
  flex-direction: column;
  gap: 8px;
}

.nested-dropdown {
  position: absolute;
  border-radius: 4px;
  left: 100%;
  top: 0;
  height: fit-content;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
  padding: 16px;
}

.nested-dropdown.show {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.dropdown-item {
  background-color: var(--background_product_card);
  padding:12px 24px;
  border-radius: 4px;
  text-decoration: none;
  display: block !important;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  line-height: 1.25rem;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  z-index: 2;
  white-space: nowrap;
  transition: background-color 0.3s ease;
}

.dropdown-item:hover {
  background-color: rgba(0,0,0,0.2);
}

.flex-container {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  position: relative;
  overflow-x: clip;
  margin: 0 var(--margin-right) 0 var(--margin-left);
}

.nav-icons {
   display: flex !important;
    align-items: center;
    gap: 24px;
    height: 100%;
    margin-right: 17px;
    margin-top: -9px;
    margin-left: -80px;
}

.nav-icon {
  display: flex !important;
  justify-content: center;
  align-items: flex-start;
  padding-top: 4px;
  cursor: pointer;
}

.nav-icon .svg-wrapper {
  width: calc(var(--font-size) + 6px);
  height: calc(var(--font-size) + 6px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(var(--color-foreground));
}

.nav-icon .svg-wrapper svg {
  width: 100%;
  height: 100%;
  color: rgb(var(--color-foreground));
}

.nested-dropdown-item {
  font-size: 14px;
  line-height: 1.25rem;
}

.nested-dropdown-overlay {
  position: absolute;
  top: 0;
  left: -2%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 1;
}
.nested-dropdown-overlay-circles {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  overflow: hidden;
}
.nested-dropdown-overlay-circle {
  flex-shrink: 0;
  display: block !important;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(var(--color-foreground), 0.5);
  margin-left: 8px;
}


/* Mobile Header Drawer */
.mobile-header-drawer {
  position: fixed;
  top: 0;
  top: 79;
  right: -266px;
  width: 266px;
  height: flit content;
  transition: right 0.3s ease-in-out;
  z-index: 100;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 9999;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--background_product_card);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.mobile-header-drawer.open {
  right: 0;
}

/* Mobile Header Close Button */
.mobile-header-drawer-close {
  padding: 12px 20px;
  display: flex;
  justify-content: flex-end;
}

.close-icon {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

/* Mobile Navigation Items */
.mobile-nav-items {
  display: flex;
  flex-direction: column;
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.25rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-nav-item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(var(--color-foreground), 0.25);
  padding: 12px 20px;
  transition: padding-bottom 0.3s ease;
}

.mobile-nav-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  color: rgb(var(--color-text));
}

/* Mobile Dropdowns */
.mobile-dropdown {
  max-height: 0;
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

.mobile-dropdown.show {
  max-height: 1000px;
  opacity: 1;
}

.mobile-dropdown-item {
  padding: 8px 0px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(var(--color-foreground));
}

/* Mobile Navigation Icons */
.mobile-nav-icons-container {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  padding: 0px 20px;
  background: rgba(255, 255, 255, 0.25);
}

.mobile-nav-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 48px;
  height: 16px;
  
}

.mobile-nav-icons .nav-icon {
  display: flex;
  justify-content: center;
  align-items: center !important;
  padding-top: 0 !important;
  cursor: pointer;
}

/* Body State when Drawer is Open */
body.drawer-open {
  overflow: hidden;
  position: relative;
  width: 100%;
}

/* Responsive Breakpoints */
@media screen and (max-width: 1280px) {
  :root {
    --hamburger-width: 67px;
    --logo-height: 60px;
    --logo-width: 107px;
    --hamburger-size: 66px;
    --header-height: 50px;
    --nav-icon-size: 28px;
    --dropdown-min-height: 130px;
  }
}

@media screen and (max-width: 989px) {
  .header {
    display: none !important;
  }
  
  :root {
    --logo-height: 48px;
    --hamburger-width: 47px;
    --logo-width: 86px;
    --hamburger-size: 48px;
    --dropdown-min-height: 110px;
  }
  
  .flex-container {
    margin: 0;
    padding: 0 20px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    display: none !important;
  }
}

@media screen and (max-width: 480px) {
  .header {
    display: none !important;
  }
  
  .hamburger {
   padding: 8px 1px;
    margin-left: 82%;
    margin-top:-40px;
    margin-top:-60px;
  }
  
  .menu-icon {
    width: 32px;
    height: 32px;
  }

  .mobile-nav-icons {
  margin-top: 11px;
}
}

@media screen and (min-width: 990px) {
  .mobile-header-drawer {
    display: none !important;
  }


  .hamburger{
margin-top: -87px
  }
}

@media screen and (min-width: 1441px) {
  :root {
    --logo-height: 84px;
    --logo-width: 149px;
    --hamburger-size: 84px;
    --header-height: 62px;
    --nav-icon-size: 36px;
    --dropdown-min-height: 170px;
  }
}

/* Localization Styles */
.localization.header-localization {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.localization.header-localization .localization-form {
  width: 100%;
  position: relative;
}

.localization.header-localization .localization-form button,
.localization.header-localization .localization-form .disclosure__button {
  background-color: transparent;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 12px;
  margin-top: 12px;
  white-space: nowrap;
  position: relative;
  margin-left: -5px;
}

.localization.header-localization .localization-form__select .icon-caret {
  position: absolute;
  height: 0.6rem;
  right: calc(var(--inputs-border-width) + 1.5rem);
  top: calc(50% - 0.2rem);
  margin-right: -29px;
  margin-top: -2px;
}

/* Search Form Styles */
.mobile-search-wrapper {
  padding: 8px 20px 0;
}

.mobile-search-form {
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0px 5px;
  margin-bottom: 15px;
  background: #fff;
}

.mobile-search-form input[type="search"] {
  border: none;
  outline: none;
  width: 100%;
  font-size: 12px;
  box-shadow: none !important;
}

.mobile-search-form .svg-wrapper {
  width: 12px;
  height: 12px;
  color: gray;
}

.mobile-search-form input[type="search"]::placeholder {
  opacity: 0.3;
}
