
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inter;
  overflow-x: hidden;
}
.main-article-dots{
   width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  gap:18px;
  overflow:hidden;
}
.field__input{
  background-color: rgb(var(--color-button));
  border: 1px solid black;
  font-size: 15px !important;
}
.main-article-circles{
  width:10px;
  height:10px;
  border-radius:50%;
  background-color:rgb(var(--color-button));
  flex-shrink: 0;
}
.main-article-dots2{
   width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  gap:18px;
  overflow:hidden;
}

.main-article-circles2{
  width:10px;
  height:10px;
  border-radius:50%;
  background-color:rgb(var(--color-button));
  flex-shrink: 0;
}

.blog-article-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  padding: 75px 30px 0 30px;
}

.blog-article-content {
  padding-right: 20px;
  color: white;
  padding-left: 43px;
}
.blog-article-tags {
  margin-top: 16px;
  font-size: 14px;
  color: rgb(var(--color-secondary-text));
}

.blog-article-tags span {
  font-weight: bold;
  margin-right: 8px;
}


.blog-tag {
  display: inline-block;
  margin: 4px 8px 4px 0;
  padding: 4px 8px;
  font-size: 12px;
  color: rgb(var(--color-button-text));
  background-color: rgb(var(--color-button));
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.blog-tag:hover {
  background-color: rgb(var(--color-button-hover));
  color: rgb(var(--color-background));
}


.blog-image-section {
  position: relative;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 638px;
  height: 712px;
}

.blog-article-header {
  margin-bottom: 20px;
}
.blog-article-container.no-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.blog-article-content.centered-content {
  max-width: 680px; 
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

.blog-social-container.centered-social {
  width: 100%;
  max-width: 650px; 
  margin: 2rem auto 0;
  padding: 0 20px;
}

.blog-article-title {
  font-size: 24px;
  font-weight: bold;
  color: #cbcbcb;
  margin-bottom: 10px;
}

.blog-article-meta {
  color: #666;
  font-size: 14px;
  margin-bottom: 20px;
}

.blog-article-section {
  margin-bottom: 20px;
}

.section-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
}

.section-content {
  font-size: 16px;
  line-height: 1.6;
  color: white;
}

.benefits-list {
  list-style-type: none;
}

.benefits-list li {
  margin-bottom: 15px;
}

.benefits-list li ul {
  margin-top: 5px;
  margin-left: 20px;
  color: black;
}

.blog-image-content {
  background-color: rgb(var(--color-button));
  padding: 20px;
  border-radius: 5px;
  padding-bottom: 40px;
  height: 629px;
  width: 585px;
  overflow: hidden;
  position: relative;
}

.blog-main-image {
  width: 546px;
  height: 521px;
  border-radius: 25px;
  padding: 13px;
  margin-bottom: 27px;
  object-fit: cover;
}

.blog-image-dots {
  display: flex;
  justify-content: center;
  gap: 19px;
  margin-bottom: 20px;
}

.blog-dot {
  width: 8px;
  height: 8px;
  background-color: rgb(var(--color-background));
  border-radius: 50%;
  cursor: pointer;
}

.blog-semicircle {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
 background-color: rgb(var(--color-button));
  border-radius: 50%;
  z-index: 1;
}

.blog-semicircle-left {
top: 561px;
  left: -9px;
}

.blog-semicircle-right {
  top: 561px;
  right: -9px;
}

.blog-social-container {
  padding: 0 20px 0 20px;
  box-shadow: none;
  width: 584.5px;
  height: 59px;
  position: relative;
  background: rgb(var(--color-button));
  margin: 20px 0;
  clip-path: polygon(
    0 0, 0 2px, 13px 5px, 0 10px, 0 10px, 13px 15px,
    0 20px, 0 20px, 12px 25px, 0 28px, 0 31px,
    100% 31px, 100% 28px, calc(100% - 13px) 26px,
    100% 20px, 100% 20px, calc(100% - 13px) 16px,
    100% 11px, 100% 11px, calc(100% - 13px) 6px,
    100% 2px, 100% 0
  );
}

.blog-social-bar {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.blog-interaction-buttons {
  display: flex;
  gap: 18px;
      align-items: flex-start;
    padding: 5px 0 5px 20px;
  cursor: pointer;
  transition: color 0.2s;
}
.icon{
  width: 20px !important;
  height: 20px !important;
  object-fit: cover !important;
}
.blog-interaction-buttons i {
  font-size: 14px;
  color:rgb(var(--color-text));
  cursor: pointer;
  transition: color 0.2s;
}

.blog-social-links {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  color: rgb(var(--color-text));
  font-size: 14px;
  padding: 5px 15px 10px 0;
}

.blog-divider {
  height: 20px;
  width: 1px;
  background-color: rgb(var(--color-button));
  margin: 0 10px;
}

.blog-social-icon {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color:rgb(var(--color-text));
  text-decoration: none;
}

.blog-link {
  color: rgb(var(--color-foreground));
  text-decoration: none;
}

.blog-link:hover {
  text-decoration: underline;
}

.blog-dotted-line {
  width:100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.blog-semicircle2 {
  width: 24px;
  height: 24px;
  background-color: rgb(var(--color-button));
  position: relative;
  border-radius: 50%;
}

.blog-semicircle2-l {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  left: -11px;
}

.blog-semicircle2-r {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  right: -11px;
}

.blog-dotted-line2 {
  width:100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.blog-circle3 {
  width: 12px;
  height: 12px;
  background-color: rgb(var(--color-button));
  border-radius: 50%;
}

.blog-semicircle3 {
  width: 24px;
  height: 24px;
  background-color: rgb(var(--color-button));
  position: relative;
  border-radius: 50%;
}

.blog-semicircle3-l {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  left: -11px;
}

.blog-semicircle3-r {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  right: -11px;
}

/* Mobile Responsive Styles */
@media (max-width: 768px) {
  .article-template__comment-wrapper {
    padding: 20px;
  }
   .blog-image-dots span:nth-child(n+50), 
  .blog-image-dots .blog-semicircle:nth-child(n+11) {
    display: none;
  }

  .page-width--narrow {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
.blog-article-content{
  padding: 0;
}
  .article-template__comment-fields input,
  .blog-article-template__comment-fields textarea {
    font-size: 14px;
  }

  .blog-button {
    font-size: 14px;
  }
  .article-template_comment-wrapper, .article-template_comment-wrapper *{
    font-size:10px;
  }
}

/* General Comment Section Styles */
.article-template__comment-wrapper {
  background-color: rgb(var(--color-text));
  padding: 30px;
}

.article-template__comments-comment p {
  font-size: 14px !important;
}

.page-width--narrow {
  max-width: 1000px;
  margin: 0 auto;
}

.article-template__comments {
  margin-top: 20px;
}

/* Comment Fields and Input Styles */
.article-template__comment-fields {
  margin-bottom: 20px;
}
/* Headings and Labels */
.article-template_comment-wrapper .field_input label,
.article-template_comment-wrapper .field_input h2,
.article-template__comment-wrapper #CommentForm-body h2,
.article-template_comment-wrapper .text-area field_input,
.article-template__comment-wrapper label {
  color: rgb(var(--color-text)); 
}


.article-template__comments-comment {
  background-color: rgb(var(--color-button));
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  color: rgb(var(--color-text)); /* Black text */
}

.field--with-error .form__message {
  background-color: #f5f5f5; /* Light gray */
  color: rgb(var(--color-text));/* Black text */
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

/* Input Styles */
.article-template__comment-fields input,
.article-template__comment-fields textarea,
  {
  color: #000; /* Black text */
  background-color: #fff; /* White background */
  padding: 10px;
  border: 1px solid #ddd; 
  border-radius: 5px;
  width: 100%;
}

/* Focused Input Styles */
.article-template__comment-fields input:focus,
.article-template__comment-fields textarea:focus {
  outline: none;
  border-color: #000 !important; /* Black border on focus */
}


/* Submit Button Styles */
.article-template__comment-wrapper input[type="submit"] {
  background-color: #888; /* Gray background */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.article-template__comment-wrapper input[type="submit"]:hover {
  background-color: #666; /* Darker gray on hover */
}

/* Success Message */
.form-status {
  background-color: #d4edda; /* Light green for success */
  color: #155724; /* Dark green text for success message */
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 20px;
}

/* Footer Styles for Comment */
.article-template__comments-comment footer {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  color: #555;
}

.field {
  margin: 10px 0;
      border-radius: 10px !important;
}
.field_input{
  border-radius:8px;
}
  .article-template__comment-wrapper input[type="submit"]{
    color: white;
  }

@media screen and (max-width: 1200px) {
  .blog-article-container {
    grid-template-columns: 2fr 1fr; 
  }

  .blog-image-content {
    height: 529px; 
    width: 485px;  
  }

  .blog-main-image {
    width: 446px; 
    height: 421px; 
  }
  .blog-image-section{
    width: 500px;
  }
  
.blog-semicircle-left {
  top: 461px;
}
  .blog-semicircle-right {
  top: 461px;
}
  .blog-social-container {
    width: 485px;
  }
  .blog-image-dots{
    gap: 14px;
  }
  .blog-thumbnail-grid{
    margin: 30px 10px 30px 0;
  }

}


@media screen and (max-width: 768px) {
  .blog-article-container {
    grid-template-columns: 1fr;
    padding: 75px 30px 0 30px;
  }

  .blog-image-content {
    height: auto;  
    width: 100%;  
    padding-bottom: 20px; 
  }
  .blog-article-container:has(.blog-image-section) {
    .blog-image-section {
      order: -1;
      margin-bottom: 1rem;
    }
  .blog-interaction-buttons{
              padding: 0 2px 5px 2px;
            gap: 5px;

  }
    .blog-social-icon{
      font-size:12px;
    }
  .blog-interaction-buttons i{
    font-size:10px;
  }
  }
    .blog-social-container.centered-social{
    width: 270px;
  }
  .blog-interaction-buttons{
    align-items: center !important;
                     padding: 0 2px 5px 2px;
            gap: 5px;

  }
  .blog-main-image {
    width: 100%; 
    height: 250px; 
    border-radius: 20px;
  }
  .blog-image-section{
    height: 435px;
    width: 300px;
  }
  .blog-image-dots{
    gap: 8px;
  }
  .blog-circle:nth-child(n+14) {
    display: none; 
  }
  .blog-semicircle{
    height:20px;
    width:20px;
  }
  .blog-semicircle-left{
    top: 290px;
    left: -10px;
  }
  .blog-semicircle-right{
    top: 290px;
    right: -10px;
  }
  .blog-social-container{
    width: 300px;
  }
  .blog-social-links{
    gap:7px;
    padding: 5px 1px 6px 0;
    font-size: 11px;
    align-items: center;
  }
  .blog-article-meta{
    font-size:11px;
  }
  .link, .customer a {
    font-size:0.9rem;
  }
  .blog-circle {
    height:7px;
    width:14px;
  }

  .blog-circle3:nth-child(n+14) {
    display: none; 
  }
  .blog-circle3{
    height:7px;
    width:14px;
  }
    .custom-blog-semicircle-left{
    top: 300px;
    left:-10px;
  }
  .custom-blog-semicircle-right{
    top: 300px;
    right:-10px;
  }
}



@media screen and (max-width: 480px) {
  .blog-main-image {
    width: 100%; 
    height: 250px; 
  }

  .blog-image-content {
    width: 100%; 
    height: auto; 
  }
}
.blog-article-title2 {
    color: black;
    text-align: left;
    margin-left: 0; 
}
}

.custom-slider-title,
.custom-card-title,
.custom-author,
.custom-date,
.custom-excerpt {
    font-family: 'Fira Sans';
    font-weight: 500;
}

.custom-blog-slider-section {
    position: relative;
    width: 100%;
    padding: 20px;
    text-align: right;
}
.custom-blog-arrow-buttons {
    margin-bottom: 10px;
}
.field__input{
  border-radius: 4px !important;
  border: 1px solid black;
}
.custom-arrow {
    color: rgb(var(--color-foreground));
    border: none;
    padding: 0px 5px;
    cursor: pointer;
    margin: 0 5px;
    font-size: 32px;
    background: transparent;
    transition: opacity 0.3s ease;
    opacity: 1;
}

.custom-arrow:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.custom-blog-slider-title {
    position: absolute;
    top: 40px;
    left: 25px;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}
.custom-blog-slider-container {
    width: 100%;
    overflow: hidden;
  padding: 10px 0;
}

.custom-blog-slider-wrapper {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
    justify-content: flex-start;
    will-change: transform;
    transition: transform 0.5s ease-in-out;
}

.custom-blog-card {
    flex: 0 0 auto; 
    width: 309px;
    box-sizing: border-box; 
    margin: 0; 
    border-radius: 5px;
    overflow: hidden;
    text-align: left;
    display: flex;
    flex-direction: column;
    min-height: 450px;
    position: relative;
    transition: flex 0.3s ease;
}
.custom-blog-semicircle {
    content: '';
    position: absolute;
    width: 25px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 50%;
    z-index: 1;
}

.custom-blog-semicircle-left {
    top: 297px;
    left: -12px;
}

.custom-blog-semicircle-right {
    top: 297px;
    right: -12px;
}

.custom-blog-card img {
    width: 100%;
     height: 309px;
    object-fit: cover;
    object-position: center;
    flex-shrink: 0;
}

.custom-blog-card-content {
    padding: 15px;
    background-color: #f0f0f8;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto; 
}
.custom-blog-card-title {
    color: #333;
    margin: 10px 0;
    line-height: 1.4;
    font-weight: bold;
    font-size: clamp(1.5rem, 2vw, 1.5rem);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 65px;
}

.custom-blog-meta {
    font-size: 1rem;
    color: #777;
    margin: 5px 0 10px 0;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.custom-blog-author,
.custom-blog-date {
    font-size: 1rem;
    color: #777;
}

.custom-blog-excerpt {
    margin: 10px 0;
    font-size: 0.9rem;
    color: #555;
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 35px;
}

.custom-blog-read-more-btn {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    background: linear-gradient(to right, gray 50%, rgb(var(--color-button-text)) 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    color:rgb(var(--color-secondary-button-text));
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    text-decoration: none;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 50%;
    transition: background-position 1.5s ease-in-out, transform 0.3s ease;
}

.custom-blog-read-more-btn:hover {
    background-position: 0 0;
  color:rgb(var(--color-secondary-button-text));
}

.custom-blog-read-more-btn svg {
    width: 18px;
    height: 18px;
    transition: transform 0.3s ease;
}

.custom-blog-read-more-btn:hover svg {
    transform: translateX(4px);
}

.custom-view-all-link {
    text-align: center;
    margin-top: 15px;
    width: 100%;
}

 @media (max-width: 767px) {
    .custom-blog-card {
        flex: 0 0 100%;
    }

    .custom-blog-card-title {
        font-size: 1.2rem;
    }

    .custom-blog-meta,
    .custom-blog-excerpt {
        font-size: 1rem;
    }

    .custom-blog-read-more-btn {
        width: 50%;
    }

}

@media (min-width: 768px) {
    .custom-blog-card {
        flex: 0 0 calc(50% - 15px);
    }

    .custom-blog-read-more-btn {
        width: 50%;
    }
  .custom-blog-semicircle-left{
    top: 300px;
  }
  .custom-blog-semicircle-right{
    top: 300px;
  }
}

@media (min-width: 1024px) {
    .custom-blog-card {
        flex: 0 0 calc(25% - 15px);
    }

    .custom-blog-read-more-btn {
        width: 60%;
    }
}

@media (min-width: 1280px) {
    .custom-blog-card {
        flex: 0 0 calc(20% - 16px);
    }

    .custom-blog-read-more-btn {
        width: 50%;
    }
}


