.team-section {
  padding: 20px;
}
.team-title {
  font-size: 24px;
  font-weight: bold;
}
.team-description {
  margin-bottom: 20px;
  width: 50%;
}
.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
}
.team-member {
  background-color: var(--background_product_card);
  padding: 15px;
}
.team-photo img,
.placeholder-meet-the-team {
  width: auto;
  max-width: 100%;
  height: 300px;
}
.team-name {
  font-weight: bold;
  margin-top: 20px;
  display: inline-block;
  color: var(--product_price_font);
}
.team-role {
  display: inline-block;
}

@media (max-width: 1000px) {
  .team-description {
    width: 100%;
  }
}
