@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600&display=swap");

.popup-overlay {
  position: fixed;
  bottom: 30px;
  left: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border-radius: 8px;
}

/* Layout 1 CSS */
.popup-message p,
.popup-message span,
.popup-message h1,
.popup-message h2,
.popup-message h3,
.popup-message h4,
.popup-message a,
.popup-message li,
.popup-message ul,
.popup-message ol {
  font-size: 16px; /* Base font size for all rich text elements */
  line-height: 1.5; /* Optional: improve readability */
  padding: 10px 20px 0 10px;
}

.popup {
  z-index: 10;
  background-size: cover;
  background-color: transparent;
  text-align: center;
  position: relative;
  width: 441px;
  height: 369px;
  border-radius: 8px;
  overflow: hidden; /* Ensure child elements stay within bounds */
}

.popup-test {
  /* Establish stacking context */
  padding: 20px;
  overflow: hidden;
}

.pop_svg {
  position: absolute;
  color: var(--background_product_card);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Push the SVG behind other content */
  border-radius: inherit; /* Ensure SVG follows the popup's border radius */
}

.popup_heading {
  font-size: 24px;
  padding: 12px 0 0 0;
  color: var(--foreground);
  font-family: "Fira Sans";
  font-weight: 600;
}

.popup-header-background {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px 8px 0 0;
  padding: 10px 40px 0 30px;
  z-index: 2;
}

#closePopup {
  background: transparent;
  border: none;
  color: var(--foreground);
  cursor: pointer;
  transition: transform 0.3s ease;
  z-index: 2;
}

#closePopup:hover {
  transform: scale(1.1);
}

#closePopup svg {
  width: 20px;
  height: 20px;
  z-index: 2;
  margin: 10px 0 0 0;
}

.popup-message {
  color: var(--foreground);
  margin-top: 8px;
  text-align: justify;
  padding: 0 20px;
  font-family: "Fira Sans";
  font-weight: 400;
  z-index: 2;
}

.popup-input-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  margin: 15px 20px 0 20px;
}

.popup-email-input {
  flex-grow: 0.8;
  padding: 8px 12px 8px 36px;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 14px;
  font-family: "Fira Sans";
  font-weight: 400;
  width: 100%;
  box-sizing: border-box;
  z-index: 10;
  margin: 0 20px 0 10px;
}

.popup-email-icon {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
  color: gray;
  z-index: 30;
}

.popup-subscribe-btn {
  background-color: rgb(var(--color-button-text));
  color: rgb(var(--color-secondary-button-text));
  border: none;
  border-radius: 6px;
  padding: 10px 10px;
  font-size: 14px;
  cursor: pointer;
  display: block;
  font-family: "Fira Sans";
  font-weight: 400;
  z-index: 2;
}

/* -------------------------------------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------------------------------------*/

/* Layout 2 CSS */

/* Typography and Spacing */
.popup-message-layout2 p,
.popup-message-layout2 span,
.popup-message-layout2 h1,
.popup-message-layout2 h2,
.popup-message-layout2 h3,
.popup-message-layout2 h4,
.popup-message-layout2 a,
.popup-message-layout2 li,
.popup-message-layout2 ul,
.popup-message-layout2 ol {
  font-size: 16px; /* Base font size */
  line-height: 1.5;
  padding: 10px 20px 0 10px;
}

/* Popup box styles */
.popup-box {
  max-width: 409.51px;
  height: fit-content;
  background-color: var(--background_product_card);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
  gap: 15px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.066);
  position: fixed;
  bottom: 30px;
  left: 25px;
  z-index: 1000;
}

.popup-box:hover {
  background-color: #b6cbbd;
}

.popup-heading-container-layout2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 345px;
}

.popup-heading-layout2 {
  font-size: 24px;
  padding: 10px 0 5px 10px;
  color: var(--foreground);
  font-family: "Fira Sans";
  font-weight: 600;
}

.popup-heading-layout2:hover {
  color: #754e1a;
}

/* Form styles */
.popup-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 345px;
  padding: 10px 20px 0 10px;
}

/* Input field styles */

.popup-email-container {
  display: flex;
  max-width: 345px;
  background-color: white;
  border-radius: 4px;
}

.popup-email-Icon {
  padding: 5px;
  border-radius: 4px;
}

.popup-email-input-layout2 {
  border: none;
  border-radius: 4px;
  max-width: 345px;
  padding: 5px;
}

#popup-close-btn {
  border: none;
  background-color: inherit;
  background: transparent;
  transition: transform 0.3s ease;
  align-items: center;
}

.popup-close-btn:hover {
  transform: scale(1.2);
}

.popup-subscribe-btn {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  background: linear-gradient(
    to right,
    gray 50%,
    rgb(var(--color-button-text)) 50%
  );
  background-size: 200% 100%;
  color: rgb(var(--color-secondary-button-text));
  background-position: 100% 0;
  border: none;
  padding: 10px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  display: block;
  width: 164px;
  height: 48px;
  transition: background-position 1.5s ease-in-out, transform 0.3s ease;
  position: relative;
}
.popup-subscribe-btn:hover {
  background-position: 0 0;
  color: rgb(var(--color-secondary-button-text));
}

/* Media Querries  */

@media screen and (max-width: 600px) {
  .pop_svg {
    width: 325px;
    height: 275px;
  }
  .popup-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .popup {
    width: 327px;
    height: 274px;
  }

  .popup-test {
    height: 235px;
    margin: 10px;
    padding: 0;
  }

  .popup-email-input {
    flex-grow: 0.6;
    margin: 0 20px 0 10px;
  }

  .popup_heading {
    font-size: 16px;
  }

  .popup-message {
    font-size: 10px;
    margin-top: 0;
  }
  .popup-email-icon {
    left: 18px;
  }

  .popup-message p,
  .popup-message span,
  .popup-message h1,
  .popup-message h2,
  .popup-message h3,
  .popup-message h4,
  .popup-message a,
  .popup-message li,
  .popup-message ul,
  .popup-message ol {
    font-size: 12px;
    line-height: 1.5;
    padding: 10px 20px 0 10px;
  }

  /* Layout 2 responsive css  */
  .popup-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 300px;
  }
  .popup-heading-layout2 {
    font-size: 20px;
    font-weight: 400;
  }

  .popup-heading-layout2:hover {
    color: #754e1a;
  }

  .popup-message-layout2 {
    font-weight: 300;
    font-size: 10px;
    max-width: 345px;
    width: fit-content;
    text-align: justify;
  }

  .popup-email-container,
  .popup-email-input-layout2 {
    max-width: 90%;
  }

  .popup-subscribe-btn {
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 10px;
    font-size: 14px;
    cursor: pointer;
    display: block;
    font-family: "Fira Sans";
    font-weight: 400;
    z-index: 2;
    width: 50%;
  }
}

@media screen and (max-width: 400px) {
  .popup-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .pop_svg {
    width: 325px;
    height: 275px;
  }
  .popup {
    width: 327px;
    height: 274px;
  }

  .popup_heading {
    font-size: 16px;
  }

  .popup-test {
    height: 235px;
    margin: 10px;
    padding: 0;
  }

  .popup-email-input {
    flex-grow: 0.6;
    margin: 0 20px 0 10px;
  }

  .popup-email-icon {
    left: 18px;
  }

  /* Layout 2 responsive css  */

  .popup-box {
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 308.5;
  }

  .popup-heading-container-layout2 {
    max-width: 236px;
  }
  .popup-heading-layout2 {
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0;
  }

  .popup-heading-layout2:hover {
    color: #754e1a;
  }

  .popup-message-layout2 {
    font-weight: 300;
    font-size: 10px;
    max-width: 236px;
    width: fit-content;
    text-align: justify;
  }

  .popup-message-layout2 p {
    padding: 0;
  }

  .popup-form {
    width: 236px;
    padding: 0;
  }

  .popup-email-container,
  .popup-email-input-layout2 {
    width: 236px;
  }

  .popup-subscribe-btn {
    padding: 12px 24px;
    font-size: 12px;
    width: 150px;
    height: 44px;
  }
}
