.bb-product {
    top: 50% !important;
    left: 50% !important;
    height: 90% !important;
    width: 90% !important;
    transform: translate(-50%, -50%);
}

.bb_product__media {
    background-color: #EEEEEE;
}

.gallery-thumbnail{
    background-color: #EEEEEE;
    padding-bottom: 10px;
}

.ticket-line {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateY(-150%);
  }

  .ticket-line-first {
    height: 8px;
    display: block !important;
    width: 8px;
    border-radius: 50%;
    background-color: white;
}

.bb-thumbnail-width {
    width: 90%;
    height: 90%;
}

.bb-upper-thumbnail {
padding-left: 5rem;
}

.bb-global-media-settings {
    border: none !important;
}

.index-product-0 {
    height: 16px;
    width: 16px;
    transform: translateX(-50%);
}

.index-product-20 {
    height: 16px;
    width: 16px;
    transform: translateX(50%);
}

.bb-color-box {
    width: 20px;
    margin: 0px !important;
    padding: 0px !important;
    height: 20px;
    border-radius: 5px !important;
    border: none !important;
    outline: none !important;
    margin-right: 2.5rem !important;
}

/*
.bb-color-box:focus {
    border: 1px solid black !important;
}
*/
.bb-color-variant input[type='radio']:checked + label {
    border: 1px solid black !important;
    transform: scale(0.9);
  }

  .bb-price {
    background-color: #D8D8D8;
    padding: 0.5rem 3rem;
    border-radius: 3px;
  }

  .bb-ticket-price {
    height: 8px;
    width: 8px;
    background-color: white;
    border-radius: 50%;
    display: block !important;
    position: absolute;
    margin: 0 auto;
  }

  .bb-ticket-left {
    transform: translate(-400%, 120%);
  }

  .bb-ticket-right {
    transform: translate(1365%, 120%);
  }

  .bb-special-offer{
    display: block !important;
    background-color: #929292;
    color: #EEEEEE;
    width: 50%;
  }

  .bb-triangle-offer {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: absolute;
    border-bottom: 12px solid white;
    height: 0;
    width: 0;
    display: block !important;
  }

 .tri-0{
    transform: rotate(90deg) translate(6%, 50%);
 }
 .tri-1{
    transform: rotate(90deg) translate(67%, 50%);

 }
 .tri-2{
    transform: rotate(90deg) translate(130%, 50%);
 }

 .tri-second-0{
    transform: rotate(270deg) translate(-3%, 1370%);
 }
 .tri-second-1{
    transform: rotate(270deg) translate(-65%, 1370%);

 }
 .tri-second-2{
    transform: rotate(270deg) translate(-130%, 1370%);
 }
  .bb-special-offer-text{
    color: white;
    margin: 0px 0rem 0px 2rem;
  }