#shopify-section-template--16106693886029__product-grid {
  overflow: hidden;
}

.bb-pro-list-heading {
    font-family: 'Fira Sans';
    font-size: 20px;
    font-weight: 600;
    color: var(--product-card-text-color);
}

.pagination {
    display: block !important;
}

.product-list-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 2rem;
}
 
.filter-upper-container{
    padding: 0px 0px;
}

.filter-container {
    padding: 0px 15px;
}

.filter-content{
    background-color: #D8D8D8;
    border-radius: 5px;
    background-color: var(--card_foreground);
}

.filter-lower-content{
    text-align: center;
    padding: 5px 0px;
}

.filter-para{
    font-family: 'Fira Sans';
    font-weight: 600;
    font-size: 24px;
    margin: 0;
    color: var(--filter-by-text-color) !important;
}

.filter-upper{
    display: block !important;
    padding: 15px;
    background-color: var( --card_background);
    margin: 0 15px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.bb-facets-vertical-filter {
    display: block !important;
}

.bb-facets-container {
    padding-top: 0px !important;
    column-gap: 0rem;
}

.filter-background {
    background: var( --card_background);
    padding: 0 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;    
}

.facets__summary .icon-caret2 {
    right: 10px !important;
}

.facet-checkbox__text-bb {
  font-family: 'Fira Sans';
  font-size: 14px;
  font-weight: 400;
}

summary .icon-caret2 {
    height: 14px !important;
    top: calc(50% - 0.5rem);
}

.icon-caret5 {
  height: 14px !important;
  margin: auto;
  position: relative;
}

.bb-sort-by {
  display: flex;
  gap: 1rem;
}

.dropdown-toggle::after {
  display: none !important;  
}

.dropdown-item:hover {
  background-color: var(--card_foreground);
}
.dropdown.show .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
}

.bb-facets__summary-label {
    font-family: 'Fira Sans';
    font-weight: 500;
    font-size: 20px;
    color: rgb(var(--color-foreground));
}
.bb-facets__summary-label:hover {
  transform: scale(1.5);
  text-decoration: none;
}
.facets__summary span:first-of-type {
  transition: none !important;
}

.facets__summary:hover .facets__summary-label {
  text-decoration: none;
  transform: scale(1.5);
}
.facets__summary:hover {
  transform: scale(1.05);
}
.page-width2 {
    max-width: 150rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.sort-upper-div {
    background-color: var(--card_foreground);
    padding: 10px 25px;
    border-radius: 5px;
}

.bb-facet-sort{
    padding-left: 0px !important;
}

.bb-facet-sort-form {
    margin-bottom: 3rem;
    position: relative;
    z-index: 10;
}

.bb-sortby {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Fira Sans';
    color: rgb(var(--color-foreground));
}

.bb-sort-options {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Fira Sans';
    color: rgb(var(--color-foreground));
    background-color: var(--card_foreground);
    border: none;
    margin-left: 0rem !important;
    display: flex;
    gap: 1rem;
}

.bb-dropdown-menu {
  background-color: var(--card_background );
}

.bb-field-currency {
  color: var(rgb(var(--color-foreground)));
}

.bb-pro-field:after {
  border-radius: 5px !important;
}

/* Base state of the dropdown */
.bb-dropdown-menu {
  opacity: 0 !important; /* Initially hidden */
  transform: translate(-108px, -430px)  !important; /* Slightly above its final position */
  visibility: hidden !important; /* Ensure it's not clickable */
  /* transition: opacity 0.3s ease, transform 0.3s ease !important;  Smooth transition */
  transition: all 0.3s ease !important; /* Smooth transition */
  display: block;
  width: 23rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: -1;
  inset: unset !important;
}

/* When the dropdown is visible */
.bb-dropdown-menu.show {
  opacity: 1 !important; /* Fully visible */
  transform: translate(-108px, 9px) !important; /* Move to its final position */
  visibility: visible !important  ; /* Now clickable */
}

.select .icon-caret2 {
    height: 0.8rem !important;
}

.bb-sort-svg-wrapper {
    width: 1.2rem !important;
    color:rgb(var(--color-foreground));
}

.bb-dropdown-item {
  font-family: 'Fira Sans';
  border-top: .1rem solid var(--card_foreground);
  color: rgb(var(--color-foreground)) !important;
  background-color: var(--card_background);
  transition: none !important;
  z-index: 0 !important;
  cursor: pointer;
}

.bb-dropdown-item:first-of-type {
  border-top: none !important;
}

.bb-card-upper-name {
    padding-left: 2rem;
}

.bb-card-content {
    background-color: rgb(var(--color-button));
    grid-template-rows: minmax(0, 1fr) max-content max-content auto !important;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.ticket-line-upper {
    margin-top: 40px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateY(-150%);
    margin-left: 5px;
    margin-right: 5px;
  }

  .ticket-line-first-product-list {
    height: 8px;
    display: block !important;
    width: 8px;
    border-radius: 50%;
    background-color: rgb(var(--color-background));
  }

  .bb-price2 {
    background-color: var(--card_foreground);
    padding: 0.5rem 2rem;
    border-radius: 3px;
    color: var(--product_price_card_text) !important;
    font-size: 16px !important;
  }
  
   .bb-price-item2 {
    color: var(--product_price_card_text) !important;
    font-size: 16px !important;   
   }
  
   .bb-price2::before,
   .bb-price2::after {
     content: '';
     position: absolute;
     width: 9px;
     height: 13px;
     background-color: rgb(var(--color-button));
     border-radius: 50%;
   }
   
   .bb-price2::before {
     transform: translate(-2.3rem,0.6rem);
   }
   
   .bb-price2:after {
     transform: translate(1.5rem,0.6rem);
   }


  .bb-product-card-link:hover {
  }

  .bb-product-list-background {
    background-color: rgb(var(--color-background));
    padding-top: 0px !important;
    overflow: hidden;
  }

  .bb-collection-hero {
    background-color: rgb(var(--color-background));
    margin-bottom: 3rem;
  }

  .bb-collection-hero-para{
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
  }

  .icon-upper-wrapper {
    display: flex !important;
    gap: 1.5rem;
    margin-left: 2rem;
  }

  .sale-product-list{
    background: var(--product_special_offer);
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bb_card_badge {
    align-self: auto;
    grid-row-start: auto;
    justify-self: auto;
    height: 20%;
  }

  .bb_card_badge_sold {
    justify-self: auto;
    height: 3.5rem;
    margin-bottom: 1rem;
  }

  .bb-card__content {
    padding: 0px !important;
  }

  .bb-card-media {
    background: rgb(var(--color-background));
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
  }

  .bb-card-image-media {
    /*
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    */
  }

  .bb-card__innner {
    border-radius: 5px !important;
  }

  .bb-active-facets__button {
     margin-left: 3.5rem;
  }

  .bb-active-facets__button-remove {
    color: rgb(var(--color-foreground));
  }

  .bb-card-media-wrapper {
   /* --border-radius: 1rem !important; */
    --border-top-left-radius: 10px;
    --border-top-right-radius: 10px;
    border: none !important;
    background-color: rgb(var(--color-background));
  }

  .sale-pro-text{
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 0px !important;
    padding: 0.5rem;
    color: var(--special-offer-text-color);
  }

  .sold-out-tag-pl {
    color: white;
    width: 9rem;
     padding: 6px 2px; 
    display: flex;
    justify-content: center;
    border: none;
    margin-left: 1rem;
  }
  
  .sold-out-tag-pl>img {
    width: 100%;
    height: 100%;
  }

  .sold-out-tag-pl-text {
    font-size: 14px;
    font-family: 'Inter';
    font-weight: 600;
    line-height: 20px;
  }
  
  .sold-out-tag-pl::before,
  .sold-out-tag-pl::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: transparent;
    border-radius: 50%;
  }
  
  .sold-out-tag-pl::before {
    top: -5px;
    left: -10px;
  }
  
  .sold-out-tag-pl:after {
    bottom: -5px;
    right: -10px;
  }

  .sold-out-tag-pl-text::before,
  .sold-out-tag-pl-text::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: transparent;
    border-radius: 50%;
  }
  
  .sold-out-tag-pl-text::before {
    top: -5px;
    right: -10px;
  }
  
  .sold-out-tag-pl-text:after {
    bottom: -5px;
    left: -10px;
  }

  .bb-sort-options:focus-visible {
    box-shadow: none !important;
  }

  .bb-product-card-link:hover {
    color: var(--product-card-text-color);
  }

  .ticket-dot {
    transform: translate(50%, -45%);
  }
.ticket-dot-first-product-list {
    height: 16px;
    display: block !important;
    width: 20px;
    border-radius: 50%;
    background-color: var(--product_special_offer);
}
.bb-card-info {
  padding-left: 2rem !important;
  grid-row-start: 1;
}

.bb-product-list-wrap {
  padding-bottom: 1.7rem;
    padding-top: 1.7rem;
}

.bb-price-sale {
  display: flex;
}

.mobile-view {
  display: none;
}

.desktop-view {
  display: block;
}

.bb-sort-dropdown {
  position: relative;
}

.bb2-facets__selected {
  font-size: 14px;
  font-family: 'Fira Sans';
  font-weight: 400;
}

.field__label {
  font-size: 14px;
  font-family: 'Fira Sans';
  font-weight: 400;
}
@media screen and (max-width: 749px) {
  .mobile-view {
    display: block;
  }

  .desktop-view {
    display: none !important;
  }

  .sale-product-list {
    height: auto;
  }
  .bb-price2::before {
    transform: translate(-2.3rem,0.4rem);
  }
  
  .bb-price2:after {
    transform: translate(1.5rem,0.4rem);
  }

  .bb-card-info {
    padding-left: 1rem !important;
    grid-row-start: 1;
  }

  .page-width2 {
    padding: 0 1rem;
  }

  .bb-facets-vertical {
    overflow: hidden;
  }

  .filter-upper {
    display: none !important;
  }

  .ticket-line-first-product-list {
    width: 4px;
    height: 4px;
  }

  .filter-upper-container{
    margin-bottom: 1.5rem;
  }
  .bb-collection-hero__title {
   /* margin-bottom: 3.5rem;*/
  }

  .section-template--16106693886029__product-grid-padding {
    padding-top: 1.5rem !important;
  }

  .test-svg {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-right: 0px;
    position: relative;
    rotate: 0deg;
    transition: none;
    color: rgb(var(--color-foreground));
  }
  .dropdownSort {
    display: none;

  }

  .label_sort_dropdown {
    cursor: pointer;
  }

  .bb-mobile-drawer {
    justify-content: space-between;
  }


  .label {
    display: block;
    font-weight: 500;
    padding: 2rem 0 0.5rem;
  }
  
  .select-group {
    position: relative;
  }
  
  .button2 {
    background-color: rgb(var(--color-background));
    border: none;
    padding-right: 2.75rem;
    padding-left: 5.75rem;
  }
  
  .arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    padding: 4px;
    transform: rotate(45deg);
  }
  
  .dropdown2 {
    position: absolute;
    opacity: 1 ;
    visibility: visible ;
    display: block;
    width: 100%;
    width: 14rem;
    top: 3rem;
    left: 1rem;
    box-sizing: border-box;
    border: 2px solid #d3d9f0;
    border-radius: 8px;
    overflow: hidden;
    z-index: -1;
    background-color: var(--card_background ) !important;
    transition: all 0.3s ease;
  }
  
  .bb-facets-vertical-sort {
    z-index: 2;
  }
  .option {
    display: none;
  }
  
  .select-item {
    display: block;
    padding: 1rem;
    font-weight: 400;
    font-family: 'Fira Sans';
    border-top: .1rem solid var(--card_foreground);
    color: rgb(var(--color-foreground));
    background-color: var(--card_background);
  }
  
  .select-item:hover {
    background-color: var(--card_foreground);
  }
  
  .dropdown2.hidden {
    opacity: 0 !important; /* Initially hidden */
    visibility: hidden !important;
    display: block !important;
    top: -1000px;
  }

  .bb-mobile-facets__inner {
    margin-left: 0;
    width: calc(100% - 8rem);
  }

  .js .disclosure-has-popup:not(.menu-opening) .bb-mobile-facets__inner {
    transform: translateX(-105vw);
  }

  .filter-content-mobile {
    background-color: var(--card_foreground);
    position: absolute;
    top: 1.25rem;
    left: 0rem;
    width: 83%;
    z-index: 2;
    border-radius: 5px;
    background-color: var;
    transition: transform var(--duration-default) ease;
}
.js .disclosure-has-popup:not(.menu-opening) .filter-content-mobile {
  transform: translateX(-105vw);
}

.bb-mobile-facets__main{
  padding: 5.4rem 0 0;
  background-color: var( --card_background);
}

.bb-mobile-facets__footer {
  background-color: var( --card_background);
}

.bb-mobile-facets__details {
  border-top: .1rem solid rgba(var(--color-foreground), .1);
        margin-right: 0;
}

.bb-mobile-facets__open-label {
  font-family: 'Fira Sans';
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: rgb(var(--color-foreground))  ;
}

.bb-select-label {
  font-family: 'Fira Sans';
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: rgb(var(--color-foreground));
}

.bb-select-label:hover {
  text-decoration: underline;
  text-underline-offset: .3rem;
}

.bb-select-sorting {
  /*
  padding-top: .5rem;
  padding-bottom: .5rem;
  */
}

.bb-sort-svg-wrapper {
  width: 2.2rem !important;
  color: black;
  top: calc(50% - 0.9rem) !important;
  height: auto !important;
}

.select .icon-caret3 {
  height: 16px;
  width: 16px;
  color: rgb(var(--color-foreground));
}

.icon-caret4 {
  margin-right: 1rem;
  height: 16px  !important;
  width: 16px;
  top: calc(50% - 0.75rem)  !important;
  color: var(rgb(var(--color-foreground)));
}

.bb-parent-display, .bb-facets__price  {
  padding: 0 2.5rem;
}

.bb-mobile-facets__summary {
  font-family: 'Fira Sans';
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: var(rgb(var(--color-foreground)));
}

.bb-mobile-facets__details:first-of-type {
  padding-top: 2rem;
}

.bb-facet-checkbox__text, .bb-facets__selected {
  font-family: 'Fira Sans';
  font-size: 15px;
  color: var(rgb(var(--color-foreground)));
}



.bb-mobile-facets__clear {
  font-family: 'Fira Sans';
}

.bb-pro-list-heading {
  font-size: 16px;
}

.price--on-sale .bb-price-sale {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column  !important;
}

.bb-card-upper-name {
  padding-left: 0;
}

.bb-price2 {
  margin: 0 !important;
  font-size: 14px !important;
}

.bb-price-item2 {
  font-size: 14px !important;
}

.sale-pro-text{
  font-size: 12px;
  padding: .25rem;
  line-height: 16px;
}

.bb_price {
  display: flex;
  justify-content: left;
  padding-left: 1rem;
}

.ticket-dot-first-product-list{
  height: 8px;
  width: 16px;
}



input[type="bb-radio"]:checked + label {
  font-weight: bold; /* Makes the label bold */
}

.sold-out-tag-pl {
  margin-left: 0rem;
  padding: 6px 8px;
  width: 8rem;
}

.sold-out-tag-pl-text{
font-size: 12px;
font-weight: 700;
line-height: 18px;
}

.bb_card_badge_sold {
 margin-bottom: 0rem;
}
}