/* Style the collapse-tab with the tabs */
.collapse-tab {
    display: flex;
    background-color: var(--collapse_header_background_color);
    padding: 4rem 4rem;
    justify-content: space-around;
}

/* Style the buttons inside the collapse-tab */
.collapse-tab button {
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: inherit;
    transition: background-color 0.3s ease;
    font-family: 'Fira Sans';
    font-weight: 500;
    color: var(--utilities);
}

/* Style the active tab */
.collapse-tab button.active {
    background-color: var(--collapse_header_secondary_background_color);
    color: var(--collapse_header_text_color);
    font-weight: 600;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 10px;
}

.collapse-width {
    padding: 0 5rem;
    max-width: var(--page-width);
    margin: 3rem auto;
}

.product-description-drawer {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #000;
    background-color: var(--header__color);
}

.product-description-bottom_container {
    z-index: 99999;
    display: flex;
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    justify-content: space-around;
    width: 100%;
    padding: 0 var(--header__padding__right) 0 var(--header__padding__left);
}

.product-description-semicircles {
    display: block !important;
    width: 28px;
    height: 28px;
    background-color: var(--collapse_body_background_color);
    border-radius: 50%;
}

.product-description-wrapper{
    padding: 20px;
    background-color: var(--collapse_body_background_color);
}

.product-description-grid-container{
    padding: 10px;
    display: none;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px 40px;
    padding: 10px;
}

.product-description-paragraph {
    display: grid;
    padding: 10px;
    letter-spacing: normal;
    grid-template-columns: 0.1fr 8fr;
    gap: 10px;
    overflow-wrap: anywhere;
}

.product-description-in-semicircles {
    display: block !important;
    margin-top: 26px;
    width: 8px;
    height: 16px;
    background-color: var(--collapse_header_background_color);
    border-radius: 50%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 0px;
    /* border-bottom-left-radius: 0px; */
    transform: rotate(180deg);
}

.sold-out-text {
    background-color: #FFEDED;
    color: #E12B56;
    font-size: 14px;
}

.product-description-subclass {
    margin-top: 20px !important;
    font-family: 'Inter';
    color: var(--collapse_body_text_color);
}

.mobile-collapsible-tabs {
    display: none;
}

@media screen and (max-width: 749px) {
    .mobile-collapsible-tabs {
        display: block;
    }
    .collapse-width {
        display: none;
    }
    .accordion-header {
        margin: 0;
    }
    .accordion-button.collapsed {
        background-color: var(--collapse_header_background_color) !important;
    }
    .accordion-body {
        background-color: var(--collapse_body_background_color) !important;
    }
    .product-description-grid-container{
        display: grid !important;
        grid-template-columns: 1fr; /* 1 column */
        grid-template-rows: repeat(4, 1fr); /* 4 rows */
        gap: 0px;
        padding: 0px;
        align-items: center;
    }
    .accordion-button {
        font-size: 18px;
        font-family: 'Fira Sans';
        font-weight: 500;
        line-height: 24px;
        color: var(--collapse_header_text_color) !important;
        background-color: var(--collapse_header_secondary_background_color) !important;

    }
    .product-description-subclass{
        margin-top: 5px !important;
        font-family: Inter;
        font-size: 14px;
    }

    .product-description-in-semicircles {
        margin-top: 10px;
        width: 7px;
        height: 14px;
    }

    .product-description-semicircles {
        height: 16px;
        width: 16px;
        background-color: rgb(var(--color-background));
    }
    .accordion-below {
        height: 30px;
        background-color: var(--collapse_header_background_color);
    }

    .accordion-button:not(.collapsed)::after {
        background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2716%27%20height%3D%2716%27%20fill%3D%27currentColor%27%20class%3D%27bi%20bi-chevron-down%27%20viewBox%3D%270%200%2016%2016%27%3E%3Cpath%20fill-rule%3D%27evenodd%27%20d%3D%27M1.646%204.646a.5.5%200%200%201%20.708%200L8%2010.293l5.646-5.647a.5.5%200%200%201%20.708.708l-6%206a.5.5%200%200%201-.708%200l-6-6a.5.5%200%200%201%200-.708z%27%2F%3E%3C%2Fsvg%3E");
        transform: rotate(0deg);
    }

    .accordion-button:focus{
        border-color: transparent;
    }

    .accordion-button::after {
        background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2716%27%20height%3D%2716%27%20fill%3D%27currentColor%27%20class%3D%27bi%20bi-chevron-down%27%20viewBox%3D%270%200%2016%2016%27%3E%3Cpath%20fill-rule%3D%27evenodd%27%20d%3D%27M1.646%204.646a.5.5%200%200%201%20.708%200L8%2010.293l5.646-5.647a.5.5%200%200%201%20.708.708l-6%206a.5.5%200%200%201-.708%200l-6-6a.5.5%200%200%201%200-.708z%27%2F%3E%3C%2Fsvg%3E");
    }

    .product__title{
        margin-top: 1.5rem;
    }
}