.bb-product{
    top: 50% !important;
    left: 50% !important;
    height: 90% !important;
    width: 90% !important;
    transform: translate(-50%, -50%);
    z-index: 4;
  }
  
  .bb-product-second {
    top: 50% !important;
    left: 50% !important;
    height: 90% !important;
    width: 90% !important;
    transform: translate(-50%, -50%);
    z-index: 3;
    filter: contrast(0) sepia(5%) brightness(1.60);
  }
  
  .bb-product-third {
    top: 50% !important;
    left: 50% !important;
    height: 90% !important;
    width: 90% !important;
    transform: translate(-50%, -50%);
    z-index: 2;
    filter: contrast(0) sepia(5%) brightness(1.40);
  }
  
  .bb-product-fourth {
    top: 50% !important;
    left: 50% !important;
    height: 90% !important;
    width: 90% !important;
    transform: translate(-50%, -50%);
    z-index: 1;
    filter: contrast(0) sepia(5%) brightness(1.20);
  }
  
  .bb_product__media {
    margin-left: 1.5rem;
  }
  
  .bb_product__media_first {
    background-color: var(--background_product_card);
    overflow: visible !important;
  }

  .bb-button-secondary {
    background-color: var(--secondary_product_button_color);
    border-radius: 7px;
  }
  .gallery-thumbnail{
    background-color: var(--background_product_card);
    padding-bottom: 10px;
  }
  
  .ticket-line {
    margin-top: 60px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateY(-150%);
  }
  
  .ticket-line-first {
    height: 8px;
    display: block !important;
    width: 8px;
    border-radius: 50%;
    background-color: rgb(var(--color-background));
  }
  
  .bb-thumbnail-width {
    width: 90%;
    height: 90%;
  }
  
  .bb-upper-thumbnail {
  padding-left: 5rem;
  }
  
  .bb-global-media-settings {
    border: none !important;
  }
  
  .index-product-0 {
    height: 16px;
    width: 16px;
    transform: translateX(-50%);
  }
  
  .index-product-20 {
    height: 16px;
    width: 16px;
    transform: translateX(50%);
  }
  
  .bb-color-box {
    width: 20px;
    margin: 0px !important;
    padding: 0px !important;
    height: 20px;
    border-radius: 5px !important;
    border: none !important;
    outline: none !important;
    margin-right: 2.5rem !important;
  }
  
  /*
  .bb-color-box:focus {
    border: 1px solid black !important;
  }
  */
  .bb-color-variant input[type='radio']:checked + label {
    border: 1px solid black !important;
    transform: scale(0.9);
  }
  
  .bb-price {
    background-color: var(--product_price_card);
    padding: 0.5rem 3rem;
    border-radius: 3px;
    color: var(--product_price_font);
  }
  
   .bb-price-item {
    color: var(--product_price_secondary_font) !important;
   }
  
  .bb-ticket-price {
    height: 8px;
    width: 8px;
    background-color: white;
    border-radius: 50%;
    display: block !important;
    position: absolute;
    margin: 0 auto;
  }
  
  .bb-quantity2 {
    background-color: var(--quatity_selector_background) !important;
  }
  
  .bb-ticket-left {
    transform: translate(-400%, 120%);
  }
  
  .bb-ticket-right {
    transform: translate(1365%, 120%);
  }
  
  .bb-special-offer{
    display: grid !important;
    background-color: var(--product_special_offer);
    color: #EEEEEE;
    width: 65%;
    grid-template-columns: 1fr 13fr 1fr;
  }
  
  .bb-triangle-offer {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: relative;
    border-bottom: 12px solid rgb(var(--color-background));
    height: 0;
    width: 0;
    display: block !important;
  }
  
  .tri-0{
    transform: rotate(90deg) translate(6%,30%);
  }
  .tri-1{
    transform: rotate(90deg) translate(0%,30%);
  
  }
  .tri-2{
    transform: rotate(90deg) translate(-6%,30%);
  }
  
  .tri-second-0{
    transform: rotate(270deg) translate(-6%, 30%)
  }
  .tri-second-1{
    transform: rotate(270deg) translate(0%, 30%);
  
  }
  .tri-second-2{
    transform: rotate(270deg) translate(6%,30%);
  }
  .bb-special-offer-text{
    color: var(--utilities);
    margin: auto;
    font-family: 'Inter';
    font-weight: 500;
  }
  
  .bb-product[aria-click="1"] {
    transform: rotate(-7deg) translate(-44%,-56%);
    border-radius: 2%;
  }
  
  
  .bb-product[aria-click="2"] {
    transform: rotate(7deg) translate(-52%,-36%);
    border-radius: 2%;
  }
  
  .bb-product-second[aria-click="2"] {
    transform: rotate(-7deg) translate(-44%,-56%);
    border-radius: 2%;
  }
  
  
  .bb-product[aria-click="3"] {
    transform: rotate(-0.5deg) translate(-48%,-48%);
    border-radius: 2%;
  }
  
  .bb-product-second[aria-click="3"] {
    transform: rotate(7deg) translate(-52%,-36%);
    border-radius: 2%;
  }
  
  .bb-product-third[aria-click="3"]{
    transform: rotate(-7deg) translate(-44%,-56%);
    border-radius: 2%;
  }
  
  .sold-out-tag {
    background-color: #E12B56;
    color: white;
    width: 32%;
     padding: 6px 2px; 
    display: flex;
    transform: translate(-35px,25px) rotate(-20deg);
    justify-content: center;
    border: none;
  }
  
  .sold-out-tag-text {
    font-size: 14px;
  }
  
  .sold-out-tag::before,
  .sold-out-tag::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: rgb(var(--color-background));
    border-radius: 50%;
  }
  
  .sold-out-tag::before {
    top: -5px;
    left: -10px;
  }
  
  .sold-out-tag:after {
    bottom: -5px;
    right: -10px;
  }
  
  .sold-out-tag-text::before,
  .sold-out-tag-text::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: rgb(var(--color-background));
    border-radius: 50%;
  }
  
  .sold-out-tag-text::before {
    top: -5px;
    right: -10px;
  }
  
  .sold-out-tag-text:after {
    bottom: -5px;
    left: -10px;
  }
  
  .bb-price::before,
  .bb-price::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: rgb(var(--color-background));
    border-radius: 50%;
  }
  
  .bb-price::before {
    transform: translate(-3.3rem, 1rem);
  }
  
  .bb-price:after {
    transform: translate(2.5rem, 1rem);
  }
  
  .bb_background {
    background-color: var(--background_product_card);
  }
  
  /*
  @media screen and (max-width: 980px){
    .bb-pmg .slider-button{
        display: none;
    }
  }
  */
  
  .bb-quantity {
    display: flex;
    justify-content: space-between;
  }
  .bb-quantity-label, .bb-product-variant-label
  {
  font-family: 'Fira Sans';
    font-size: 20px;
    color: var(--utilities);
  }
   .shopify-payment-button {
    font-family: 'Inter';
    font-weight: 500;
   }
  
   .shopify-payment-button__button{
    border-radius: 7px !important;
   }
  @media screen and (max-width: 749px) {
    .bb-test {
        position: relative;
        flex-wrap: inherit;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scroll-padding-left: 1.5rem;
        -webkit-overflow-scrolling: touch;
        margin-bottom: 1rem;
        gap: 2rem;
        margin: 0;
        width: 100%;
    }
  }
  
  @media screen and (max-width: 749px) {
    .bb-pmg{
        top: -10px;
    }
  
    .ticket-line {
        margin-top: 30px;
    }
    .bb-upper-thumbnail {
        margin-bottom: 0px !important;
        justify-content: space-evenly;
    }

    .slider.slider--mobile{
      scroll-snap-type: none !important;
      scroll-behavior: unset !important;
      scroll-padding-left: 0rem !important;
    }

    .bb-price:before {
      transform: translate(-3.3rem, 0.8rem);
    }
    .bb-price:after {
      transform: translate(2.5rem, 0.8rem);
    }
    .quantity {
      min-height: calc((var(--inputs-border-width)* 2) + 3.5rem);
    }
    .bb-special-offer-upper {
      margin-top: 1.5rem;
    }
  }
  