.scrolling-marquee-container {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    background-color: rgb(var(--color-background));
    font-family:var(--font-body-family);
}
.scrolling-marquee-inner {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 50vh;
    align-items: center;
    justify-content: center;
    gap: 0px;
    width: 100%;
}
.scrolling-text-only-strip-content,
.scrolling-first-strip-content,
.scrolling-second-strip-content,
.scrolling-third-strip-content {
    display: flex;
    width: 100%;
    min-width: 2000px;
    min-height: 50px;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: relative;
    filter: drop-shadow(0px 4px 4px #00000026);

}
.scrolling-text-only-strip-content[data-pause-on-hover="true"]:hover,
.scrolling-first-strip-content[data-pause-on-hover="true"]:hover,
.scrolling-second-strip-content[data-pause-on-hover="true"]:hover,
.scrolling-third-strip-content[data-pause-on-hover="true"]:hover {
    animation-play-state: paused;
}
.scrolling-text-only-strip-content:empty,
.scrolling-first-strip-content:empty,
.scrolling-second-strip-content:empty,
.scrolling-third-strip-content:empty {
    min-height: 50px;
    background-color: var(--background_product_card);
}
.scrolling-text-only-strip-content {
    animation-name: marquee-text-only-strip;
    animation-duration: calc(var(--text-strip-speed, 20s) );
    transform: rotate(5deg);
    z-index: 30;
}
.scrolling-first-strip-content {
    animation-name: marquee-first-strip;
    animation-duration: calc(var(--first-strip-speed, 20s) );
    transform: rotate(-5deg);
    z-index: 20;
}
.scrolling-second-strip-content {
    animation-name: marquee-second-strip;
    animation-duration: calc(var(--second-strip-speed, 20s) );
    transform: rotate(5deg);
    z-index: 10;
}
.scrolling-third-strip-content {
    animation-name: marquee-third-strip;
    animation-duration: calc(var(--third-strip-speed, 20s) );
    transform: rotate(-5deg);
    z-index: 0;
}
.scrolling-marquee-item,
.scrolling-text-only-marquee-item {
    display: flex;
    align-items: center;
    justify-content:center;
    padding: var(--strip-padding-top, 10px) 10px var(--strip-padding-bottom, 10px);
    white-space: nowrap;
    flex-shrink: 0;
    background-color: var(--background_product_card);
    color: var(--color_text);
    min-height: 50px;
    min-width: 200px;
}
.scrolling-marquee-item:only-child,
.scrolling-text-only-marquee-item:only-child {
    width: 100%;
    justify-content: center;
}
.scrolling-marquee-text,
.scrolling-text-only-marquee-text {
    display: inline-block;
    margin-right: 20px;
    font-weight: bold;
      font-family:var(--font-body-family);

}
.scrolling-marquee-image {
    object-fit: cover;
    border-radius: 3px;
}

/* Mobile animations */
@keyframes marquee-text-only-strip {
    0% { transform: rotate(10deg) translateX(10%); }
    100% { transform: rotate(5deg) translateX(-10%); }
}
@keyframes marquee-first-strip {
    0% { transform: rotate(-5deg) translateX(10%); }
    100% { transform: rotate(-5deg) translateX(-10%); }
}
@keyframes marquee-second-strip {
    0% { transform: rotate(5deg) translateX(10%); }
    100% { transform: rotate(5deg) translateX(-10%); }
}
@keyframes marquee-third-strip {
    0% { transform: rotate(-10deg) translateX(10%); }
    100% { transform: rotate(-5deg) translateX(-10%); }
}

/* Desktop styles */
@media screen and (min-width: 768px) {
    .scrolling-marquee-container {
        height: 60vh;
    }
    .scrolling-marquee-inner {
        height: 60vh;
        gap: 30px;
    }
    .scrolling-text-only-strip-content {
        transform: rotate(3deg);
        animation-duration: var(--text-strip-speed, 10s);
        filter: drop-shadow(0px 4px 4px #00000026);
    }
    .scrolling-first-strip-content {
        transform: rotate(-3deg);
        animation-duration: var(--first-strip-speed, 10s);
        filter: drop-shadow(0px 4px 4px #00000026);
    }
    .scrolling-second-strip-content {
        transform: rotate(3deg);
        animation-duration: var(--second-strip-speed, 10s);
        filter: drop-shadow(0px 4px 4px #00000026);
    }
    .scrolling-third-strip-content {
        transform: rotate(-3deg);
        animation-duration: var(--third-strip-speed, 10s);
        filter: drop-shadow(0px 4px 4px #00000026);
    }
    @keyframes marquee-text-only-strip {
        0% { transform: rotate(3deg) translateX(10%); }
        100% { transform: rotate(3deg) translateX(-10%); }
    }
    @keyframes marquee-first-strip {
        0% { transform: rotate(-3deg) translateX(10%); }
        100% { transform: rotate(-3deg) translateX(-10%); }
    }
    @keyframes marquee-second-strip {
        0% { transform: rotate(3deg) translateX(10%); }
        100% { transform: rotate(3deg) translateX(-10%); }
    }
    @keyframes marquee-third-strip {
        0% { transform: rotate(-3deg) translateX(10%); }
        100% { transform: rotate(-3deg) translateX(-10%); }
    }
}
@media screen and (min-width: 1600px) {
    @keyframes marquee-text-only-strip {
        0% { transform: rotate(3deg) translateX(0%); }
        100% { transform: rotate(3deg) translateX(-20%); }
    }
    @keyframes marquee-first-strip {
        0% { transform: rotate(-3deg) translateX(0%); }
        100% { transform: rotate(-3deg) translateX(-20%); }
    }
    @keyframes marquee-second-strip {
        0% { transform: rotate(3deg) translateX(0%); }
        100% { transform: rotate(3deg) translateX(-20%); }
    }
    @keyframes marquee-third-strip {
        0% { transform: rotate(-3deg) translateX(0%); }
        100% { transform: rotate(-3deg) translateX(-20%); }
    }
  .scrolling-text-only-strip-content,
.scrolling-first-strip-content,
.scrolling-second-strip-content,
.scrolling-third-strip-content {
  width:100%;
    min-width: 0px;
    filter: drop-shadow(0px 4px 4px #00000026);
    margin-bottom:20px;
}
}
.scrolling-placeholder-svg {
    height: 30px;
    width: 30px;
    object-fit: contain;
    background-color: rgba(0, 0, 0, 0.1);
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
  }
