* {
    padding: 0;
    margin: 0;
}

.scroll-tracker {
    padding: 0 11px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 500;
    height: 45px;
    color: rgb(var(--color-foreground));
    display: inline-block;
    position: relative;
    margin-left: 40px;
    background: #676251;
    text-align: left;
    width: 60%;
    line-height: normal;
}

.scroll-tracker::before,
.scroll-tracker::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 13px;
    height: 16px;
    background-color: var(--background_product_card);
    transform: translateY(-50%);
    border-radius: 50%;
}

.scroll-tracker::before {
    left: -5px;
}

.scroll-tracker::after {
    right: -5px;
}

.scroll-tracker p {
    font-size: 15px;
    margin-left: 3px;
    margin-top: 13px;
    display: flex;
    align-items: center;
    gap: 3px;
}

.scroll-tracker-icon {
   height: 12px;
    width: 12px;
      margin-left: 2px;
    margin-top: -30px;
}

@media screen and (max-width: 480px) {
    .scroll-tracker {
        display: none;
    }
}

@media screen and (min-width: 1440px){
.scroll-tracker {
        width: 42%;
        margin-left: 120px;
  }
}

