:root {
    --arrow-container-size: 20px;
    --arrow-size: 10px;
    --arrow-thickness: 3px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.scroll-tracker {
       display: flex;
    align-items: center;
    justify-content: center;
}
  .scroll-tracker-content{
  display: inline-block;
  padding: 6px 20px;
  background-color: rgb(var(--color-button-text));
  border-radius: 8px; 
  font-size: 16px;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .scroll-tracker-content p {
  margin: 0;
   font-size: 15px;
  white-space: nowrap; 
  display: flex;
  align-items: center; 
  gap: 4px; 
     color: rgb(var(--color-secondary-button-text));
}
.scroll-distance {
    font-weight: 500;
    font-size: 15px;
}

@media screen and (max-width: 906px) {
    .scroll-tracker {
        display: none;
    }
}





