.layout1 {
  text-align: center;
  padding: 20px;
}
.headingtext{
  margin-bottom:10px;
  }

.layout1 p{
   margin-bottom: 5px;
}
.layout1 .rich-text__text {
  margin: 0 auto;
 max-width: 600px;
 line-height: 1.6;
}

.decorative-dots {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #303030;
  border-radius: 100%;
  margin: 0 12px;
}
.layout2 {
  text-align: center;
}

.layout2 .rich-text__text {
   margin: 0 auto;
   max-width: 600px;
   line-height: 1.6;
}

.dots-container {
display: flex;
justify-content: space-between;
align-items: center;
margin: 0 auto;
max-width:900px;
}

.rich-text__blocks {
width: 60%;
text-align: center;
}

.side-dots {
display: flex;
flex-direction: column;
justify-content: space-between;
}

.side-dots.left, .side-dots.right {
width: 3%;
padding: 0;
margin: 0; 
}


.dot-l {
width: 10px;
height: 10px;
border-radius: 50%;
margin: 8px auto; 
background-color: #303030; 
}



@media screen and (max-width: 749px) {
  .layout1,
  .layout2 {
      text-align: center;
  }
 .dots-container {
  flex-direction: column; 
  justify-content: center;
  max-width: 100%;
}
.side-dots.left, .side-dots.right {
  width: 100%; 
}
.side-dots {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  margin-bottom: 20px; 
}
  .side-dots.left {
    margin-top:10px;
  order: -1;
}
    .side-dots.right {
  order: 1;
      margin-bottom:10px;
}



  .rich-text__blocks {
    width: 80%;
    margin-bottom: 20px;
  }
.dot-l {
  width: 10px;
  height: 10px;
  margin: 12px; 
}
  


}
