body {
  font-family: 'Inter', sans-serif;
}

h1, h7 {
  font-family: 'Fira Sans', sans-serif;
}

h2, .model-number {
  font-family: 'Inter', sans-serif;
}

.featured-collection {
  width: 100%;
  max-width: 1400px;
  margin: 50px auto;
  padding: 20px;
  background-color:  rgb(var(--color-background));
  position: relative;
  overflow: hidden;
}

.sale-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: var(--product_special_offer);
  color: rgb(var(--color-foreground));
  padding: 8px 12px;
  border-radius: 16px;
  font-size: 14px;
  font-weight: bold;
  z-index: 10;
}

h1, p {
  margin: 0;
}

.heading {
  font-size: 24px;
  margin-bottom: -11px;
  margin-left: 25px;
}

.product-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 20px;
  scroll-behavior: smooth;
  padding: 20px 0;
  margin: 0 18px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.product-container::-webkit-scrollbar {
  display: none;
}

/* Default for normal screens (4 cards) */
.product-card {
  position: relative;
  flex: 0 0 calc(25% - 15px);
  min-width: calc(25% - 15px);
  max-width: calc(25% - 15px);
  height: auto;
  padding: 0;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  overflow: visible;
  border-radius: 4px;
  background-color: var(--background_product_card);
}

.product-image1 {
  width: 100%;
  height: 240px;
  overflow: hidden;
  border-radius: 4px 4px 0 0;
  flex-shrink: 0;
  margin-top: 0; /* Ensure no space above */
  position: relative;
}

.product-image1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.subheading {
  font-size: 18px;
  margin-top: 18px;
  margin-bottom: 70px;
  margin-left: 25px;
}

h7 {
  font-size: 18px;
  margin: 10px 0 5px 14px;
  font-weight: bold;
  line-height: 1.4;
    color: rgb(var(--color-foreground));
}

.product-info {
  padding: 0 15px;
  text-align: left;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: auto;
    color: rgb(var(--color-foreground));
}


.vendor{
    font-size: 17px;
 margin-left:15px
    color: rgb(var(--color-foreground));
}

.model-number {
  margin: 5px 0;
  text-align: left;
  padding: 0 15px;
  font-size: 14px;
  flex-shrink: 0;
    color: rgb(var(--color-foreground));
}

.price-reviews-icons {
  margin-top: auto;
  padding: 15px;
  flex-shrink: 0;
    color: rgb(var(--color-foreground));
}
.price-tag {
  padding: 8px 11px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  color: var(--product_price_font);
  display: inline-block;
  position: absolute;
  left: 30px; /* Fixed left position */
  background:  var(--product_price_card);
  text-align: left;
  max-width: 100%; /* Limit the width to prevent overflow */
}

.price-tag::before,
  .price-tag::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 10px;
    height: 13px;
    background-color: var(--background_product_card);
    transform: translateY(-50%);
    border-radius: 50%;
  }
  

.price-tag::before {
  left: -5px;
}

.price-tag::after {
  right: -5px;
}

.icons {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 20px;
  gap: 2px;
  margin-right: 110px;
}

.icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.icon-placeholder {
  font-size: 24px;
  margin-bottom: 5px;
}

.icon-name {
  font-size: 15px;
  margin-top: 5px;
}

.slider-arrow1 {
  position: absolute;
  transform: translateY(-120%);
  background: none;
  color: #000;
  border: none;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
  transition: all 0.3s ease;
  opacity: 1;
  font-size: 0;
}

.slider-arrow1.left {
  left: 91%;
}

.slider-arrow1.right {
  right: 35px;
}

.slider-arrow1::before,
.slider-arrow1::after {
  content: '';
  position: absolute;
  background: #000;
  height: 1px;
  width: 15px;
  border-radius: 1px;
  transition: all 0.3s ease;
}

.slider-arrow1.left::before {
  transform: rotate(-45deg);
  top: 45%;
}

.slider-arrow1.left::after {
  transform: rotate(42deg);
  top: 70%;
}

.slider-arrow1.right::before {
  transform: rotate(45deg);
  top: 45%;
}

.slider-arrow1.right::after {
  transform: rotate(-42deg);
  top: 70%;
}

.slider-arrow1:hover::before,
.slider-arrow1:hover::after {
  background: #fff;
  width: 18px;
}

.slider-arrow1:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.dotted-line-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
    margin-bottom: 20px;
  position: relative;
  border-top: 6px dotted;
      color: rgb(var(--color-background));
}

.view-all-wrapper {
  display: none;
  width: 100%;
  padding: 0 20px;
  margin-top: 20px;
  margin-bottom: 20px;

}

.view-all-link {
display: block;
    width: 83%;
  margin-left:20px;
    padding: 12px 20px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 4px;
    text-align: center;
    color: #333;
    margin-bottom: 28px;
    text-decoration: none;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    transition: all .3s ease;
    transform: translateY(0);
    box-shadow: 5px 6px 0px #000, 0 0 0 transparent;
}

.view-all-link:active {
  /* Pressed-in state */
  transform: translateY(6px);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2), 0 0 0 transparent; /* Adjusted box-shadow */
}
 @media screen and (min-width: 1440px) {
  .product-card {
    flex: 0 0 calc(20% - 16px);
    min-width: calc(20% - 16px);
    max-width: calc(20% - 16px);
  }
  
  .slider-arrow1.left {
    left: 93%;
  }
  
  .slider-arrow1.right {
    right: 30px;
  }
}

/* Tablet view (3 cards) */
@media screen and (max-width: 1124px) {
  .product-card {
    flex: 0 0 calc(33.333% - 13.333px);
    min-width: calc(33.333% - 13.333px);
    max-width: calc(33.333% - 13.333px);
  }

  .featured-collection__title {
    font-size: 18px;
  }
  
  .slider-arrow1.left {
    left: 89%;
  }
  
  .slider-arrow1.right {
    right: 40px;
  }
  
}

/* Small tablet/Large mobile */
@media screen and (max-width: 990px) {
  .offer-banner {
    height: 35px;
    padding: 7px;
    font-size: 11px;
    font-weight: 500;
  }

  .slider-arrow1.right {
    right: 20px;
   
  }
  
  .slider-arrow1.left {
    
    left: 85%;
  }
}

/* Mobile view (1 card) */
@media screen and (max-width: 480px) {
  .product-card {
    flex: 0 0 calc(100% - 20px);
    min-width: 250px;
    max-width: 100%;
  }
  
  .offer-banner {
    height: 40px;
  }
 
  .featured-collection__title {
    font-size: 18px;
  }
  
  .dotted-line-wrapper {
    width: 109%;
    margin-left: -12px;
  }
  
  .slider-arrow1 {
    display: none;
  }
  
  .view-all-wrapper {
    display: block; /* Show only on mobile */
  }
  
  .product-container {
    margin: 20px;
    padding: 20px 0;
    margin-bottom: 10px; /* Add some space above the view all button */
  }
}
