.layout1 {
  text-align: center;
  padding: 20px;
}
.richtext_heading{
  margin-bottom:10px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 28px;
    font-weight: bold;
}
.richtext_subheading{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500; /* Medium weight */
}
.rich-text__text{
   font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: normal;
}

.layout1 p{
  margin-bottom: 5px;
}
.layout1 .rich-text__text {
  margin: 0 auto;
 max-width: 600px;
 line-height: 1.6;
}

.decorative-dots {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #303030;
  border-radius: 100%;
  margin: 0 12px;
}
.layout2 {
  text-align: center;
}

.layout2 .rich-text__text {
   margin: 0 auto;
   max-width: 600px;
   line-height: 1.6;
}

.dots-container {
display: flex;
justify-content: space-between;
align-items: center;
margin: 0 auto;
max-width:900px;
}

.rich-text__blocks {
width: 60%;
text-align: center;
}

.side-dots {
display: flex;
flex-direction: column;
justify-content: space-between;
height:auto;
}

.side-dots.left, .side-dots.right {
height:100%;
width: 3%;
padding: 0;
margin: 0; 
}


.dot-l {
width: 10px;
height: 10px;
border-radius: 50%;
margin: 8px auto; 
background-color: #303030; 
}



@media screen and (max-width: 749px) {
  .layout1,
  .layout2 {
    text-align: center;
  }
  
  .dots-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
  }

  .rich-text__blocks {
    width: 80%;
    margin: 10px auto;
  }

  .side-dots {
    width: 100%; /* Full width */
    display: flex;
    flex-direction: row !important;
    justify-content: space-evenly; /* Changed to space-evenly */
    /* align-items: center; */
    padding: 10px 0;
    margin: 0; /* Reset margin */
  }
  .side-dots.left, .side-dots.right {
  height:20px;
  width: 100%;
  padding: 0;
  margin: 0; 
}

  .dot-l {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #303030;
    flex-shrink: 0;
    margin: 0; /* Reset margin */
  }
}



