.shop-the-look-container {
    display: flex;
    grid-template-columns: 3fr 1fr;
}

.lookbook__wrapper--align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.lookbook__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: flex;
    gap: 20px;
}

.lookbook__wrapper--align-center .lookbook__main-image {
    margin-block: auto;
}

.lookbook__main-image {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: sticky;
    -ms-flex-item-align: start;
    align-self: flex-start;
    top: 20px;
    min-width: 0;
}

.round-style .lookbook__image-wrapper {
    border-radius: var(1.6rem, 0);
    overflow: hidden;
}

.lookbook__image-wrapper {
    position: relative;
}

.lookbook__desktop-content {
    display: block;
    position: relative;
    overflow: hidden;
}
.shape--nature {
    padding-bottom: 60%
}

.shape {
    position: relative;
    display: block;
    overflow: hidden;
    --gsc-shape-fill-mode: cover;
}

.lookbook__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

@media (prefers-reduced-motion: no-preference) {
    .scroll-trigger.animate--zoom-out {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

.lookbook__products--on-left-side {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
}

.lookbook__products--with-slideshow-30-percent-width {
    max-width: 30%;
}

.lookbook__products {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 0;
}

.lookbook__products .lookbook__desktop-content--inside-slideshow, .lookbook__wrapper--align-center .lookbook__products .lookbook__desktop-content--inside-slideshow {
    padding: 6.4rem 0;
}

.lookbook__desktop-content {
    display: block;
    position: relative;
    overflow: hidden;
}

.product-card__inner {
    z-index: 2;
    overflow: visible;
    -webkit-mask-image: radial-gradient(white, black);
    mask-image: radial-gradient(#fff, #000);
    --gsc-space-between-cards: 0px;
}

.shape--fit-portrait, .shape--portrait {
    padding-bottom: calc((4 / 3)* 100%);
}