.shop_the_look__container {
  width: 100%;
  background: var(--section-color);
  position: relative;
  height: 80vh;
  display: block;
  scroll-behavior: smooth;
}

.shop__the__look__media__container {
  width: 50vw;
  height: 62vh;
  margin-bottom: 20px;
  /* background: gray; */
  margin: 10px;
  border-radius: 5px;
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 10;
}

.shop__the__look__media__container .media {
  object-fit: contain;
  border-bottom: 3px solid black;
  border-radius: 5px;
  /* z-index: 20; */
}

.shop__the__look__text__wrapper {
  display: flex;
  background-color: var(--background_product_card);
  width: 100%;
  position: absolute;
  bottom: 0px;
  padding-bottom: 100px;
}

.shop__the__look__text__container {
  margin-left: auto;
  width: 40%;
  padding: 20px 0;
}

.shop__the__look__heading {
  font-weight: 600;
  font-size: 40px;
  line-height: 56px;
}
.shop__the__look__description {
  font-weight: 400;
  font-size: 26px;
  line-height: 36px;
  margin-top: 10px;
  max-width: 90%;
  text-align: justify;
}
.shop__the__look__button {
  padding: 10px 25px;
  font-size: 26px;
  border-radius: 7px;
  margin-top: 10px;
  text-decoration: none;
  border: none;
  background: linear-gradient(
    to right,
    gray 50%,
    rgb(var(--color-button-text)) 50%
  ) !important;
  background-size: 200% 100% !important;
  color: rgb(var(--color-secondary-button-text)) !important;
  background-position: 100% 0 !important;
  transition: background-position 1.5s ease-in-out, transform 0.3s ease !important;
}

.shop__the__look__button:hover {
  background-position: 0 0 !important;
  color: rgb(var(--color-secondary-button-text)) !important;
}

.slideshow__container {
  position: absolute;
  right: 10%;
  top: 30px;
  height: 500px;
  width: 900px;
  border-radius: 5px;
}

.slideshow__media__container img {
  border-radius: 5px;
}

.dot__container {
  text-align: center;
  margin-top: 15px;
}

.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 5px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.dot.active {
  background-color: #717171;
  transform: scale(1.4);
}

/* testing  */
