@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.payments-icons {
  display: flex;
    justify-content: flex-end;
    padding-right: 200px;
    position: relative;
    width: 40%;
    margin-left: 640px;
    bottom: 24px;
}
.footer-block__details-content .list-menu__item--link,
.copyright__content a {
  color: rgba(var(--color-foreground));
    font-size: 13px;
      text-decoration: none;
}

.footer__payment {
      display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0;
    margin-bottom: -15px;
    margin-right: -20%;
}

.footer__payment li {
  display: flex;
  align-items: center;
}

.payment-icon {
  width: 40px;
  height: auto;
}

@media screen and (max-width: 990px) {
  .payments-icons {
    bottom: -30px; 
  }
  .footer__payment {
    margin-right: -70%;
  }
}

@media screen and (max-width: 480px) {
  .payments-icons {
                margin-bottom: -12px;
        margin-left: 30px;
  }
   .barcode-footer {
  
        font-size: 12px;
        padding: 4px;
     height: 60px;
        text-align: center;
        white-space: nowrap;
  }

  .footer__payment {
           margin-right: 60%;
        margin-top: -28px;
        margin-bottom: 5px;
  }
}

@media screen and (max-width: 320px) { 
  .footer__payment {
    margin-right: -130%;
  }
  .barcode-footer {
    margin-top: -20px;
    font-size: 11px;
    padding: 6px;
  }
}

@media screen and (min-width: 1440px){
  .footer__payment{
           margin-right: -80%;
        margin-bottom: -20px;
 }
}
