name: Shopify Lighthouse CI
on: [push]
jobs:
  lhci:
    name: Lighthouse
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Lighthouse
      uses: shopify/lighthouse-ci-action@v1
      with:
        access_token: "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"
        store: "theme-blackbytt-poc.myshopify.com"
        password: "saylyo"
        # Set the threshold parameters
        thresholds: |
          {
            "performance": 85,
            "accessibility": 85,
            "best-practices": 85,
            "seo": 85,
            "pwa": 85
          }

       
